<link rel="stylesheet" href="countdown.css">

<body>
<div class="countdown">
<a href="http://kino-teatr.ua/ru/main/film/film_id/6179.phtml"><img src="WATN_200x124_2.jpg"><div id="clock" class="clock"></div>
</a>
</div>
</body>
<script src="countdown.js"></script>

<script>
countdown("May,05,2011,18:00:00");
</script>