    /* image replacement */
        .graphic, #prevBtn, #nextBtn{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */


	#container{
		margin:0 auto;
		position:relative;
		text-align:left;
		width:480px;
		margin-bottom:2em;
		left: 23px;
		}

/* Easy Slider */

	#slider{}
	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider li{
		/*
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/
		width:432px;
		height:186px;
		overflow:hidden;
		}
	#slider li a {		padding-left: 4px;
		padding-right: 4px;
		padding-top: 13px;
		padding-bottom: 13px;
		display: block;
		float: left;
		height: 145px;
		background: url('../ims/poster_bg.jpg') no-repeat;
	}

	#slider li a img.current {		opacity: 0.2;
	}

	#prevBtn, #nextBtn{
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:51px;
		}
	#nextBtn{
		left:432px;
		}
	#prevBtn a, #nextBtn a{
		display:block;
		width:30px;
		height:77px;
		background:url(../ims/btn_prev.gif) no-repeat 0 0;
		}
	#nextBtn a{
		background:url(../ims/btn_next.gif) no-repeat 0 0;
		}