@CHARSET "UTF-8";
.sbHolder{
	background-color: #2d2d2d;
	border: solid 1px #515151;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 30px;
	position: relative;
	width: 200px;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 30px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 170px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #EBB52D;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(../img/select-icons.png) 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	background: url(../img/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
	background: url(../img/select-icons.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: url(../img/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #212121;
	border: solid 1px #515151;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 200px;
	z-index: 1;
	overflow-y: auto;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions a{
	border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #ddd;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #EBB52D;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}



.selectbox-feedback_theme,
.selectbox-sex,
.selectbox-city_id,
.selectbox-timezone,
.selectbox-lang_id {
    margin-top:3px;
}
.selectbox-feedback_theme > .sbHolder,
.selectbox-sex > .sbHolder,
.selectbox-city_id > .sbHolder,
.selectbox-timezone > .sbHolder,
.selectbox-lang_id > .sbHolder {
	background-color: #fff;
	border: 1px solid #d3d3d3;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 25px;
	position: relative;
    width:276px;
    outline:none;
}
.selectbox-feedback_theme > .sbHolder > .sbSelector,
.selectbox-sex > .sbHolder > .sbSelector,
.selectbox-city_id > .sbHolder > .sbSelector,
.selectbox-timezone > .sbHolder > .sbSelector,
.selectbox-lang_id > .sbHolder > .sbSelector {
	display: block;
	height: 25px;
	left: 0;
	line-height: 25px !important;
	outline: none;
	overflow: hidden;
	position: absolute;
    text-indent:0;
	top: 0;
	width: 230px;
    padding:0 10px;
    margin:0 !important;
    text-decoration:none !important;
    color:#333 !important;
}
.selectbox-feedback_theme > .sbHolder > .sbToggle,
.selectbox-sex > .sbHolder > .sbToggle,
.selectbox-city_id > .sbHolder > .sbToggle,
.selectbox-timezone > .sbHolder > .sbToggle,
.selectbox-lang_id > .sbHolder > .sbToggle {
	background: url(selectbox.png) left top no-repeat;
	display: block;
	height: 27px;
	outline: none;
	position: absolute;
	right: -1px;
	top: -1px;
	width: 27px;
    margin:0 !important;
}
.selectbox-feedback_theme > .sbHolder > .sbToggleOpen,
.selectbox-sex > .sbHolder > .sbToggleOpen,
.selectbox-city_id > .sbHolder > .sbToggleOpen,
.selectbox-timezone > .sbHolder > .sbToggleOpen,
.selectbox-lang_id > .sbHolder > .sbToggleOpen {
	background-position:left bottom;
}
.selectbox-feedback_theme > .sbHolder > .sbOptions,
.selectbox-sex > .sbHolder > .sbOptions,
.selectbox-city_id > .sbHolder > .sbOptions,
.selectbox-timezone > .sbHolder > .sbOptions,
.selectbox-lang_id > .sbHolder > .sbOptions {
	background-color: #fff;
	border: solid 1px #d3d3d3;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 276px;
	z-index: 1;
	overflow-y: auto;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:    0px 2px 2px rgba(0, 0, 0, .5);
    box-shadow:         0px 2px 2px rgba(0, 0, 0, .5);
}
.selectbox-feedback_theme > .sbHolder > .sbOptions li,
.selectbox-sex > .sbHolder > .sbOptions li,
.selectbox-city_id > .sbHolder > .sbOptions li,
.selectbox-timezone > .sbHolder > .sbOptions li,
.selectbox-lang_id > .sbHolder > .sbOptions li {
    padding:0;
}
.selectbox-feedback_theme > .sbHolder > .sbOptions a,
.selectbox-sex > .sbHolder > .sbOptions a,
.selectbox-city_id > .sbHolder > .sbOptions a,
.selectbox-timezone > .sbHolder > .sbOptions a,
.selectbox-lang_id > .sbHolder > .sbOptions a {
    margin:0 !important;
	border-bottom: dotted 1px #d3d3d3;
    height:27px;
    padding:0 10px !important;
    line-height:27px !important;
    text-decoration:none !important;
    color:#333 !important;
}
.selectbox-feedback_theme > .sbHolder > .sbOptions a:hover,
.selectbox-sex > .sbHolder > .sbOptions a:hover,
.selectbox-city_id > .sbHolder > .sbOptions a:hover,
.selectbox-timezone > .sbHolder > .sbOptions a:hover,
.selectbox-lang_id > .sbHolder > .sbOptions a:hover {
    background:#e3e3e3;
}
.question input[type="radio"] {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 0px rgba(0, 0, 0, 1);
}