/*DATAPICKER*/

/*#datepicker {
    position: absolute;
    z-index: 15;
}*/

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    border: 1px solid #d93137;

}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-header {
    background: #d93137;
    color: #ffffff;
    font-family:'Myriad W08 Semibold', Arial, sans-serif;
    line-height: 40px;
    border: none;
    font-size: 13px;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;

}


.ui-datepicker-prev {
    float: left;
    background-position: 20px 15px;
    background-image: url('../images/arrow_calendar_left.png');
}

.ui-datepicker-next {
    float: right;
    background-position: 0 15px;
    background-image: url('../images/arrow_calendar_right.png');
}

.ui-datepicker thead {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e0dfdf;
}

.ui-datepicker th {
   /* text-transform: uppercase;*/
    font-size: 10px;
    padding: 5px 0;
    color: #666666;
}

.ui-datepicker th:last-of-type {
    color: #d93137;
}

.ui-datepicker th:nth-of-type(6) {
    color: #d93137;
}



.ui-datepicker tbody td {
    padding: 0;
    border-right: 1px solid #e0dfdf;
    font-size: 14px;
}


.ui-datepicker tbody td:last-child {
    border-right: 0px;
}



.ui-datepicker tbody tr {
    border-bottom: 1px solid #e0dfdf;
}


.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}



.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #6c6c6c;
}
.ui-datepicker-calendar .ui-state-default {
    background: #ffffff;
}


.ui-datepicker-unselectable .ui-state-default {
    /*background: #f4f4f4;*/
    color: #e0dfdf;
}


.ui-datepicker-calendar .ui-state-hover {
    background: #ededed;
}


.ui-datepicker-calendar .ui-state-active {
    background: #d93137;
    color: #ffffff;
    border: 1px solid #d93137;
    position: relative;
    margin: -1px;
}


.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}


.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}