body {
    background: #656565;
}

iframe {
    border:0;
}

.popup-container {
    /*height: 682px;*/
    width: 948px;
    margin: 0 auto;
}

.popup-content {
    /* height: 682px;*/
    width: 916px;
    /*background: #ffffff;*/
    float: left;
}

.popup-scroll {
    /*padding: 31px 31px 0 31px;*/
    padding: 3.4% 3.4% 0 3.4%;
    height: 601px;
    max-height: 100%;
    /*overflow-x: scroll;*/
    overflow-y: scroll;
    background: #ffffff;
}


.popup-image {
    float: left;
    width: 184px;
    margin-right: 20px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    font-size: 13px;
}

.popup-image .event-price-popup {
    color: #333333;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    margin: 30px 0 30px 0;
    display: block !important;
}


.popup-image a.button-common{
    display: block;
    padding: 7px;
    margin: 0 0 40px 0;
}

.popup-place {
    text-decoration: none;
    display:table;
    margin: 10px 0px;
}

.popup-place a {
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    line-height: 15px;
    font-family:'Myriad W08 Semibold', Arial, sans-serif;

}

.popup-place div {
    margin-top: 5px;
}


.popup-place div img {
    padding-right: 5px;
    float: left;
}

.popup-place div span {
    display: block;
    margin-left: 15px;
}

.popup-place div {
    color: #6b6b6b;
    font-size: 14px;
    line-height: 15px;
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
}


.popup-right-side {
    padding: 0;
    width: 620px;
    float: left;
}


.popup-description {

}

.popup-description h1 {
    font-size: 30px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    font-color: #333333;
    padding: 0;
    margin: 0 0 30px 0;
    float: left;

    width: 500px;
}
.title-rating {
    margin: 0!important;
    /*padding-bottom: 0;*/
}

.rating {
    float: right;
    font-size: 14px;
    line-height: 45px;
    /*margin-left: 50px;*/
}

.popup-description div {
    margin: 0 0 30px 0;
}
.popup-description div p{
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
    font-color: #6d6d6d;
    margin: 0;
}


.event-timetable {

}

.timetable-date {
    /* height: 36px;*/
    background: #f0f0f0;
    border-bottom: 1px solid #e6e6e6;
    line-height: 36px;
    padding-left: 30px;
    color: #333333;
    font-size: 18px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}
.timetable-date img {
    margin-right: 5px;

}

.timetable-date span {
    color: #333333;
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
}

.timetable-content > p {
  float: left;
}
.order-title-h4 {
  float: left;
  margin-left: 15px;
}
h4.order-code-title {
  display: block;
  float: left;
  margin-left: 10px;
}
p.order-code-h4 {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 0px;
}
.timetable-content p + p {
  margin-left: 10px;
}
.row-timetable {
    padding: 25px 0;
    border-bottom: 1px solid #ffffff;
    background: #ffffff;
    position: relative;
}

.row-timetable:hover {
    background: #fffef5;
    border-bottom: 1px solid #ffffff;
}

.row-timetable img:first-of-type {
    padding-left: 20px;
}

.row-timetable a,
.row-timetable a img{
    text-decoration: none;
}

.timetable-content .time-timetable{
    color: #333333;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 20px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}

.timetable-content .hall-timetable {
    color: #7e7e7e;
    font-size: 14px;
    padding-right: 20px;
}

.timetable-content .price-timetable {
    color: #333333;
    font-size: 14px;
    margin-right: 20px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}

.sector {
    margin-bottom: -3px;
}

.timetable-content .button-common {
    position:absolute; 
    top: 50%;
    right: 10px;
    margin-top:-15px;
    display: block;
    font-size: 13px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    padding: 7px 15px;
    float: right;
}

/*FOOTER POPUP***********************************************************************************************/

.footer-popup {
    border-top: 3px solid #d93137;
    height: 47px;
    /*background: url("../images/popup_footer.png") no-repeat ;*/
    background: #ffffff;
    z-index: 3;
    position: relative;
}

.footer-bottom {
    background: url("../images/mticket_menu_bottom.png") no-repeat ;
    height: 3px;

}

.timer-checkout{
    background:url("../images/info.png") 8px 10px no-repeat;
    background-color: #E5EFFB!important;
    margin-top:30px;
    width:100%;
    height:40px;
}
.timer-checkout p{
    text-align: left;
    line-height: 40px;
    font-size: 13px;
    color: #505050;
    padding-left: 35px;
}

.footer-popup a.copyright-popup {
    text-decoration: none;
    font-size: 16px;
    color: #7e7e7e;
    display: inline-block;
    text-decoration: none;
    float: left;
    /*height: 47px;*/
    line-height: 47px;
    margin-left: 5px;
    overflow-x: hidden;
    height: 100%;
}

.footer-popup a.copyright-popup span {
    /*text-decoration: underline;*/
}

.footer-popup ul {
    list-style:none outside none;
    /*height: 71px;*/
    display: block;
    float:right;



}

.footer-popup ul  li{
    float:left;
    border-left: 1px solid #f7f7f7;
    /*height: 71px;*/
    /*height: 47px;*/
}


.footer-popup ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    padding: 0 10px 0 10px;
    display: block;
    line-height: 47px;
    /*height: 47px;*/
    overflow-x: hidden;
    height: 100%;
}

.footer-popup ul li a:hover{
    text-decoration: underline;
}


.popup-light {
    position: absolute;
    margin-left: 220px;
    margin-top: -15px;
    z-index: 2;
}


.youtube {
    margin: 20px 0;
    float:right;
}

.close-button {
    height: 32px;
    width: 32px;
    background: url("../images/close_button.png") no-repeat center;
    background-color: #d3d3d3;
    float: left;
}


/*MOBILE TICKET********************************************************************************************************/



.mobile-ticket-container {
    /*height: 682px;*/
    width: 512px;
    margin: 0 auto;
}


.mobile-ticket-content {
    width: 416px;
    background: #ffffff;
    float: left;
    padding: 22px 32px 22px 32px;
}

.mobile-ticket-content h1 {
    padding: 0;
    margin: 0 0 20px 0;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}

.mobile-ticket-content p {
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    margin-bottom: 15px;
}

.mobile-ticket-form {
    
}

.mobile-ticket-form h1{
    font-size: 30px;
}

.mobile-ticket-form p.wg-form-hint span{
    border-bottom: 1px dotted #000;
    cursor:pointer;
}

#wg-form-hint-text{
    font-size: 12px;
    border-top: 1px solid #e6e6e6;
}


.input p:first-of-type{
    color: #999999!important;
}


.input p:last-of-type{
    color: #333333;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    margin-bottom: 10px;
}

.mobile-ticket-form img{
    display: block;
    margin-bottom: 10px;
}

.phone-email-input {
    padding: 10px;
    width: 300px;
    font-size: 14px;
    font-family:'Myriad W08 Semibold', Arial, sans-serif;
    margin-bottom: 5px;
    -moz-border-radius: 2px; /* FF1+ */
    -webkit-border-radius: 2px; /* Saf3-4 */
    border-radius: 2px; /* Opera 10.5, IE 9, Saf5, Chrome */
    border: 1px solid #999999;
}

.captcha-input {
    padding: 10px;
    width: 155px;
    font-size: 14px;
    font-family:'Myriad W08 Semibold', Arial, sans-serif;
    margin-bottom: 10px;
    -moz-border-radius: 2px; /* FF1+ */
    -webkit-border-radius: 2px; /* Saf3-4 */
    border-radius: 2px; /* Opera 10.5, IE 9, Saf5, Chrome */
    border: 1px solid #999999;
    display: block;
}


.submit {
    background-color: #d93137;
    color: #ffffff;
    text-align: center;
    font-family:'Myriad Pro 1166607', Arial, sans-serif !important;
    border: none;
    font-size: 13px !important;
    padding: 10px 50px;
    margin-bottom: 30px;
}

.submit:hover{
    background-color: #fff000;
    color: #333333!important;
}

.mobile-ticket-social {
    border-top: 1px solid #e6e6e6;
    /*padding-top: 22px;*/
}

.mobile-ticket-social span {
    display: inline-block;
    line-height: 32px;
    font-size: 20px;
    color: #333333;
}

.mobile-ticket-social ul {
    list-style: none outside none;
    float: right;
}

.mobile-ticket-social ul li{
    display: inline-block;
    line-height: 32px;
}



/*MOBILE TICKET SMS-EMAIL*********************************************************************************************/



.mobile-ticket-container-sms {
    /*height: 682px;*/
    width: 532px;
    margin: 0 auto;
}


.mobile-ticket-content-sms {
    width: 436px;
    background: #ffffff;
    float: left;
    padding: 22px 32px 22px 32px;
}

.mobile-ticket-content-sms h1 {
    padding: 0;
    margin: 0 0 10px 0;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}

.mobile-ticket-content-sms span:first-of-type {
    padding: 0;
    display: block;
    margin: 0 0 20px 0;
    font-size: 22px;

}

.mobile-ticket-content-sms p {
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    font-size: 14px;
    color: #333333;

}
.mobile-ticket-content-sms .input {
    display: block;
    margin-top: 20px;
}

.mobile-ticket-content-sms .input p{
    color: #999999;
}


.mobile-ticket-sms-footer {
    padding-top: 22px;
}

.mobile-ticket-sms-footer a{
    padding: 7px;
    display: inline-block;
    border: 1px solid #999999;
    color: #999999;
    text-decoration: none;
    font-size: 13px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}

.mobile-ticket-email-footer a:first-of-type{
    padding-left: 45px;
    padding-right: 45px;
}

.mobile-ticket-sms-footer a:first-of-type{
    float: left;
}

.mobile-ticket-sms-footer a:last-of-type{
    float: right;
}


.mobile-ticket-content-sms .submit {
    padding: 10px 90px;
    margin-bottom: 30px;
    margin-top: 10px;
}


/*AFISHA*/
.afisha-description h1{
    margin-bottom: 15px;
    float: none;
}

.afisha-image {

    width: auto;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    font-size: 13px;
    margin-bottom: 40px;
}

.afisha-image img {
    float: left;
    margin-right: 10px;
}

.name-timetable {
    display: inline-block;
    width: 200px;
    font-size: 16px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    color: #333333;

}


.afisha-left {
  display: inline-block;
  float:left;
  width: 70%;
}

.afisha-right {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 25%;
}

ul.event-all-afisha,
ul.event-all-afisha ul{
    list-style: none outside none;
}

.event-all-afisha {
    border: 1px solid #d1d1d1;
    margin-bottom: 20px;
    width: 230px;
    background-color: #ffffff;

}

ul.event-all-afisha li {
    background-color: #ffffff;

}

ul.event-all-afisha>li {
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
}

ul.event-all-afisha ul li:first-of-type a{
    border-top: none;
}


ul.event-all-afisha ul {
    border-top: 1px solid #e2e2e2;
}

ul.event-all-afisha ul li {
    background: #ffffff;
}



ul.event-all-afisha li a{
    text-decoration: none;
    color: #333333;
    font-family:'Myriad W08 Semibold', Arial, sans-serif;
    font-size: 14px;
    /*background: #ffffff;*/
    border-top: 1px solid #e2e2e2;
    display: block;
    padding: 10px 10px 10px 20px;

}



ul.event-all-afisha ul li:hover a{
    color: #ffffff;
    /*background: #d93137;*/
    border-top: 1px solid #d93137;
}

ul.event-all-afisha ul li:first-of-type:hover a{
    border-top: none;
}

ul.event-all-afisha li:hover{
    background: #d93137;
}

.event-all-afisha h4{
    font-family:'Myriad W08 Semibold', Arial, sans-serif;
    font-size: 11px;
    color: #c3c3c3;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}


.afisha-left .row-timetable img:first-of-type {
    padding-left: 0;

}

.afisha-left .row-timetable:hover .button-common{
    background-color: #fff000;
    color: #333333!important;
}

.afisha-left .row-timetable:hover .name-timetable {
    color: #d93137;
}

.afisha-left .popup-place div img {
    padding-left: 5px;
    margin: 0;
}


/*PAYMENT**************************************************************************************************/

.payment-right {
    width: 398px;

}

.kind-of-payment {
    background: #f0f0f0;
    padding: 32px 32px 0 32px;
    margin-bottom: 20px;
}

.payment-left {
    width: 400px;
}
.payment-left h1 span{
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
}
.payment-left .afisha-image{
    margin-bottom: 20px;
}

.payment-left .timetable-date .clock-title{
    float: right;
    padding-right: 20px;
}


.payment-left h2{
    font-size: 22px;
    color: #333333;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}
/*Radio*/
input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:14px;
    height:14px;
    margin:-1px 14px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox.png) left top no-repeat;
    cursor:pointer;
}

input[type="radio"] + label.disabled span {
	background:url(../images/checkbox-disabled.png) left top no-repeat;
}

input[type="radio"]:checked + label span {
    background:url(../images/checkbox_checked.png) left top no-repeat;
}

/*Radio*/


.form-container {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
}

.form-container input{

}

.form-container div{
    margin: 20px 0;
    font-size: 16px;
    color: #333333;

}

.form-container h2{
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    color: #333333;
}


.total-pay {
    font-size: 14px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    color: #7e7e7e;

}

.total-pay div{
    display: inline-block;
    line-height: 36px;

}

.total-pay div span{
    color: #333333;
}

.payment-left .submit {
    float: right;
}

.input-payment .submit {
    float: right;
}


.reject {
    font-size: 13px;
    color: #7e7e7e;
    width: 400px;
}

.terms {
    font-size: 13px;
    color: #7e7e7e;
}

.reject a,
.terms a
{
    text-decoration: underline;
    font-size: 13px;
    color: #7e7e7e;
}

.service-payment {
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
    border-bottom: 1px solid #e2e2e2!important;
    border-top: 1px solid #e2e2e2;
}

.service-payment .service {
    font-size: 16px;
    color: #7e7e7e;
    padding-right: 0;
    display: inline-block;
    width: 300px;
    text-align: right;

}

.service-payment .price-timetable {
    font-size: 14px;
    color: #333333;
}

.total-payment {
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
    color: #333333;
}

.total-payment .total {
    font-size: 16px;
    display: inline-block;
    width: 300px;
    text-align: right;
    line-height: 22px;
    display: inline-block;
}

.total-payment .price-timetable {
    font-size: 22px;
    line-height: 22px;
}

.payment-left .row-timetable:hover {
    background: #ffffff;
}

.payment-left .row-timetable {
    border-bottom: none;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: default;
}

.payment-left .row-timetable .price-timetable {
    float: right;
}


/*Places*/

.places-theatre{
    padding: 5px 12px 0 10px;
}

.places-theatre .afisha-image{
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

div.price-range {

    text-align: center;
}

.price-range ul {
    list-style: none outside none;
    margin: 0 auto;

}

.price-range ul li{
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
}

.price-range ul li div{
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 2px;
}

.price-range ul li .wg-chair-color{
    width: 12px;    
}

.price-range ul li div.blue-square{
    background: #4dbce9;
}

.price-range ul li div.orange-square{
    background: #e97f02;
}

.price-range ul li div.green-square{
    background: #5db254;
}

.booked-places-counter {
    float: left;

}

.booked-places-counter div{
    text-align: right;
    color: #333333;
    font-size: 14px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}

.booked-places-counter ul{
    list-style: none outside none;
    line-height: 14px;
    text-align: right;
}

.booked-places-counter ul li{
    display: inline-block;
    font-size: 13px;
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
    color: #333333;
    line-height: 14px;
}

.booked-places-counter ul li img{
    padding: 0 5px;
    margin-bottom: -2px;
}

.places-theatre {
    height: 612px;
}

.places-theatre .button-common{
    float: right;
    padding: 7px 15px !important;
    font-size: 13px;
}

.button-back{
    background: #AAA;
}

.places-theatre .button-back{
    float: left;
    margin-right: 10px;
}

.button-back:hover{
    background: #DDD;
}


.places-theatre .popup-place h1 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 30px;
    font-family:'Myriad Pro 1166607', Arial, sans-serif;
}

.hall-image {
    position: relative;
    margin-top: 0;
}


.hall-image .hall-plane{

}

.places-theatre .afisha-image .popup-place div img {
    margin-right: 0;
}

.zoom {
    position: fixed;
    z-index: 1000;
}

.zoom-square {
    width: 32px;
    height: 32px;
    background: #d93137;
    color: #ffffff;
    cursor: pointer;
    margin: 10px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;

}

.zoom-square:hover {
    background: #fff000;
    color: #333333;
}

#minus {
    width: 32px;
    font-size: 32px;
}

#ui-datepicker-div {
    border: none;
}

.afisha-left .row-timetable div {
   display: inline-table;
    vertical-align: top;

}



.afisha-left .popup-place div img{
   margin-left: -5px;
}


.submit, .button-common {
    -webkit-transition: background-color 0.1s linear 0s;
    -moz-transition: background-color 0.1s linear 0s;
    -ms-transition: background-color 0.1s linear 0s;
    -o-transition: background-color 0.1s linear 0s;
    transition: background-color 0.1s linear 0s;

    cursor: pointer;
}

a.wg-places {
    transition: background-color 0.2s linear 0s, height 0s linear, width 0s linear, left 0s linear, top 0s linear, font-size 0s linear;
    background-size: cover;
}