* {
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a.link:hover {
    color: #d93137;
}

.selected {
    background-color: #d93137;
    color: #ffffff !important;
}

.button-common {
    background-color: #d93137;
    color: #ffffff;
    text-decoration: none !important;
    text-align: center;
    font-family: 'Myriad Pro 1166607', Arial, sans-serif;
}

a.button {
    display: block;
    height: 40px;
    width: 132px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: #d93137;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

a.button:hover,
a.button-list:hover,
a.button-common:hover {
    background-color: #fff000;
    color: #333333 !important;
}

img {
    border: 0;
}

#main {
    /*background: #ebebeb;*/
    margin: auto;
    width: 1260px;
    /*height: 5106px;*/
    overflow: hidden;
}

/*HEADER block------------------------------------------------------------------------------------------------------*/

#header {
    background: #ffffff;
    border-bottom: 3px solid #d93137;
    height: 71px;

}

#header nav {

}

/* MAINMENU block----------------------------------------------------------------------------------------------------*/
.mainmenu {
    list-style: none outside none;
    height: 71px;
    margin: auto 0;
    display: block;
    margin-left: 140px;

}

.mainmenu li {
    float: left;
    border-left: 1px solid #f7f7f7;
    height: 71px;
}

.mainmenu>li:first-child>a {
    padding-top: 10px;

}

.mainmenu li>a {
    text-decoration: none;
    color: #333333;
    font-family: 'Myriad Pro 1166607', Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding: 0 10px 0 10px;
}

ul.mainmenu>li>a {
    height: 71px;
    display: block;
    line-height: 71px;
}

ul.mainmenu>li:first-of-type>a.selected {
    background-color: transparent;
}

.mainmenu #more {
    padding: 0 10px 3px 10px;
}

.mainmenu li:hover {
    border-bottom: 3px solid #ffffff;
}

.mainmenu li.search-li:hover,
.mainmenu li.more-li:hover,
.mainmenu>li:first-of-type {
    border-bottom: none;
}

.mainmenu li.search-li {
    padding-top: 25px;
    height: 46px;
}

.mainmenu li:hover > a.selected {
    color: #d93137;
    border-bottom: 3px solid #d93137;
}

.mainmenu li:hover > a.selected {
    color: #ffffff;
}

.mainmenu li:hover > .dropmenu {
    display: block;
    z-index: 12;
}

.mainmenu li:hover > .dropmenu_aboutus {
    display: block;
    z-index: 12;
}

/*DROPDOWN MENU-----------------------------------------------------------------------------------------------------*/
.dropmenu {
    display: none;
    width: 524px;
    height: 384px;
    background: #ffffff;
    position: absolute;
    top: 74px;
    color: black;
    padding: 0;
}

.dropmenu ul {
    width: auto;
    height: auto;
    list-style: none outside none;
    float: left;
    padding: 0;
}

.dropmenu ul li {
    float: none;
    height: auto;
    border: none;
    padding: 0;
}

.dropmenu li:hover {
    border-bottom: none;
}

.topdropmenu {
    height: 131px;
    border-bottom: 1px solid #fafafa;
    font-size: 12px;
    color: #333333;
    padding: 24px 0 0 7px;

}

.topdropmenu ul {
    padding-right: 30px;
}

.topdropmenu li a {
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
    line-height: 24px;
    font-weight: bold;
    color: #333333;
}

.centerdropmenu {
    height: 145px;
    overflow: hidden;
    float: left;
}

.centerdropmenu li {
    font-size: 12px;
    display: block;
    padding: 0;
    font-family: 'Myriad W08 Semibold', Arial, sans-serif;
    line-height: 24px;
    color: #474747;
}

.centerdropmenu:last-of-type li:first-of-type {
    padding-top: 24px;
}

.centerdropmenu li a {
    font-size: 11px;
    padding: 0;
    font-weight: normal;
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
}

.bottomdropmenu {
    height: 198px;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #fafafa;
}

.bottomdropmenu h1 {
    font-size: 12px;
    padding: 7px 0 0 7px;
    font-family: 'Myriad Pro 1167301', Arial, sans-serif;
}

.bottomdropmenu ul {
    list-style: none outside none;
}

.bottomdropmenu ul li {
    float: left;
    display: inline-block;
    width: 70px;
    padding: 7px 7px 0 7px;
}

.bottomdropmenu ul li a {
    padding: 0;
}

.bottomdropmenu ul li h3 {
    font-size: 11px;
    font-weight: normal;
    font-family: 'Myriad W08 Semibold', Arial, sans-serif;
    color: #474747;
}

.afisha {
    height: 25px;
    background-color: #565656;
    line-height: 25px;
    vertical-align: middle;
    padding: 2px 10px;
    float: right;
    font-size: 11px;
    font-family: 'Myriad W08 Semibold', Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.afisha a {
    text-decoration: none;
    color: #ffffff;
    padding: 0;
}

.dropmenu_aboutus {
    display: none;
    width: 654px;
    height: 305px;
    background: #ffffff;
    position: absolute;
    top: 74px;
    color: #474747;
    margin-left: -593px;
    padding: 0;
}

.dropmenu_aboutus ul {
    width: auto;
    height: auto;
    list-style: none outside none;
    float: left;
    /*border: 1px solid black;*/
}

.dropmenu_aboutus ul li {
    float: none;
    height: auto;
    border: none;
}

.dropmenu_aboutus li a {
    color: #333333;
}

.dropmenu_aboutus li:hover {
    border-bottom: none;
}

.aboutus {
    height: 275px;
    border-bottom: 1px solid #fafafa;
}

.aboutus li {
    float: left;
    font-size: 12px;
    padding: 5px 0 5px 17px;
}

.aboutus li:first-child {
    padding: 24px 0 5px 17px;
}

.aboutus li:first-child a {
    padding: 0;
}

.office {

}

.pay li {
    padding: 5px 0 0 17px;;
}

.leftaboutus {
    width: 339px;
    float: left;
    border-right: 1px solid #fafafa;
}

.rightaboutus {
    width: 314px;
    float: left;
}

/*SEARCH-------------------------------------------------------------------------------------------------------------*/

.search-wrapper {
    width: 113px;
    height: 29px;
    margin: 0 auto 0;
    border: none;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    position: relative;
    top: -5px;
    left: 0;
    padding: 0 10px 0 10px;
    display: inline-block;
}


.search-form {
    height: 113px;
}

.search-box {
    width: 113px;
    height: 29px;
    background-color: #fff;
    margin: 0;

    padding: 0;
}

.search-box input {
    margin: 0;
    position: absolute;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #dbdbdb;
    border: none;
    width: 103px;
    height: 29px;
    border: 1px solid #cfcfcf;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    position: relative;
    font-size: 12px;

}

.search-box input[type="text"]:focus:-moz-placeholder {

}

.search-box input[type="text"]:focus::-webkit-input-placeholder {

}

input.submit-button {
    background: url(../images/search.png) no-repeat;
    text-indent: -9999px;
    border: none;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 8px;
    left: 90px;
    cursor: pointer;
    right: 15px;
}


.search-li {
    position: relative;
}

.search-wrapper-live {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    display: none;
    padding: 10px 20px 10px 45px;
    background-color: #fff000;
}

.search-wrapper-live .close-button {
    background: url(../images/close.png) no-repeat;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 30px;
    left: 18px;
    border: 0;
}

.search-wrapper-live .search-box {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 381px;
}

.search-form-live {
    height: 113px;
}

.search-wrapper-live .search-box input {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 381px;

}

.search-wrapper-live input.submit-button {
    background: url(../images/search.png) no-repeat;
    text-indent: -9999px;
    border: none;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 8px;
    left: 360px;
    cursor: pointer;
    right: 15px;
}

/*------------------------------------------------------------------------------------------------------------------*/

/*--MAIN BLOCKS---BIG IMAGE------------------------------------------------------------------------------------------*/
.big-img {
    width: 383px;
    height: 495px;
    float: left;
    position: relative;
}

.event-info {
    background: url(../images/poster_hover_1px.png) repeat;
    position: absolute;
    z-index: 6;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.big-img .event-info .info-visible {
    padding: 17px 17px 0 17px;
}

.big-img .event-info .info-hover {
    padding: 0 17px 0 17px;
}

.big-img .info-visible p {
    float: left;
    padding: 0 0 17px 0;

}

.big-img .info-visible a {
    font-size: 20px;
    font-weight: bold;
    float: left;
    width: 100%;
}

.big-img .info-hover a {
    font-size: 18px;
    margin-top: 20px;
    display: block;
}

.big-img .info-hover p {
    position: absolute;
    bottom: 26px;
    left: 17px;
    font-weight: bold;
}

.big-img .event-info a.button {
    margin: 0 17px 17px 0;
    width: 115px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*--MAIN BLOCKS---SMALL IMAGE----------------------------------------------------------------------------------------*/
.small-img_block {
    height: 495px;
    position: relative;
}

.small-img a {
    font-weight: bold;
}

.small-img {
    width: 184px;
    height: 240px;
    float: left;
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;
}

.small-img .info-hover img {
    float: left;
    padding: 0 7px 0 0;

}

.small-img .info-hover img:last-of-type {
    padding-top: 7px;
}

.small-img .info-hover p {
    color: #fff000;
    font-size: 13px;
    line-height: 18px;
}

.small-img .info-hover a {
    font-size: 13px;
    display: block;
    padding-left: 18px;
    padding-top: 7px;

}

.small-img .info-visible a {
    font-size: 14px;
    font-family: 'Myriad W08 Semibold', Arial, sans-serif;
    line-height: 18px;
    letter-spacing: .05em;
}

.small-img .event-info p:nth-of-type(3) {
    color: #ffffff;
    position: absolute;
    bottom: 12px;
    left: 7px;
    font-weight: bold;
}

.small-img .event-info .info-visible {
    padding: 7px 7px 7px 7px;
}

.small-img .event-info .info-hover {
    padding: 0 7px 0 7px;
}

.small-img .event-info a.button {
    line-height: 24px;
    margin: 0 7px 7px 0;
    font-size: 13px;
    width: 75px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

.event-type {
    background: #ffffff;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5;
    font-size: 15px;
    color: black;
    font-weight: bold;
    padding: 0 7px;
    letter-spacing: .05em;
    font-family: 'Myriad Pro 1166607', Arial, sans-serif;
    line-height: 24px;
}

.event-info a.button {
    width: auto;
    height: auto;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 40px;
    padding: 0 16px;
}

.event-info a.button {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Myriad Pro 1166607', Arial, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.info-visible p {
    color: #fff000;
}

/*HOVER---------------------------------------------------------------------------------------------------------------*/
.info-hover {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0;
}

.big-img:hover .event-info, .small-img:hover .event-info {
    height: 100%;
}

.big-img:hover .info-hover {
    padding-right: 150px;
}

.big-img:hover .info-visible {
    padding-right: 80px;
}

.big-img:hover {

}

.big-img:hover img {
    width: 399px;
    height: 511px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    position: absolute;
    top: -8px;
    left: -8px;
    clip: rect(8px, 391px, 503px, 8px);
}

.small-img:hover>img:first-of-type {
    width: 200px;
    height: 256px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    position: absolute;
    top: -8px;
    left: -8px;
    clip: rect(8px, 192px, 248px, 8px);
}

.big-img:hover .event-type, .small-img:hover .event-type {
    display: none;
}

.event-info:hover .info-hover {
    visibility: visible;
    display: block;
    height: auto;
    width: auto;
}

.big-img:hover .info-visible p {
    float: none;
    padding: 0;
}

.big-img:hover .info-visible a {
    font-size: 32px;
    padding: 5px 0 17px 0;
}

.event-info a.place:hover {
    text-decoration: underline;
}

a.place {

}

#navigation {
     width: 1260px;
     background: #1e1e1e;
     border-bottom: 1px solid #000000;
     height: 100%;

 }

#navigation div {
    width: 980px;
    margin: auto;
    padding-top: 31px;
}

#navigation ul {
    list-style: none outside none;
    width: 150px;
    float: left;
    position: relative;
    z-index: 9;
    padding-right: 10px;
}

/*FOOTER------------------------------------------------------------------------------------------------------------*/

footer ul li {
    padding: 3px 0 3px 0;
}

footer ul li a, .footer-menu li a {
    text-decoration: none;
    color: #cbcbcb;
    font-size: 14px;
}

#navigation ul li:first-child a, .footer-menu li:first-child a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;

}

/*------------------------------------------------------------------------------------------------------------------*/

/*INFO BLOCK--------------------------------------------------------------------------------------------------------*/

#info {
    /* height: 199px;*/
    width: 1260px;
    background-color: #1e1e1e;
    z-index: 4;
    position: relative;
    border-top: 1px solid #232323;
}

.copyright p, .copyright a {
    font-size: 12px;
    color: #cbcbcb;
    text-decoration: none;
}

#info a {
    text-decoration: none;
}

#info ul {
    list-style: none outside none;
    color: #ffffff;
}

#container-info {
    width: 980px;
    margin: auto;
    padding-top: 45px;
}

.copyright {
    width: 241px;
    padding-right: 80px;
    float: left;
}

.copyright img {
    padding: 0 0 30px 0;
}

.copyright p span {
    font-weight: bold;
}

.copyright a:hover {
    text-decoration: underline !important;
}

.phone {
    margin-bottom: 38px;
}

.phone img {
    padding-right: 10px;
}

.phone span {
    color: #ffffff;
    font-family: 'Myriad W01 Bd Cnd', Arial, sans-serif;
    font-size: 35px;
    display: block;
    float: left;
}

.phone p {
    font-family: 'Myriad Pro 1166607', Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
}

.contact {
    float: left;
    padding-right: 50px;
}

.phone img {
    float: left;

}

.social {
    float: none;
    display: block;
    padding: 0 0 0 0;
}

.social li {
    display: inline-block;
    float: left;
    padding: 0 12px 0 0;
}

.social li:first-of-type {
    padding: 0 24px 0 25px;
}

.payment {
    margin-top: 16px;
}

.payment ul li {
    display: inline-block;
    padding-right: 12px;
}

.footer-menu:first-of-type {
    float: left;
    padding-right: 10px;
    color: #cbcbcb;
}

.footer-menu:first-of-type {
    margin-right: 34px;
}

footer ul li a:hover, .footer-menu li a:hover {
    text-decoration: underline !important;
}

/*----SHADOWS-------------------------------------------------------------------------------------------------------*/

/* Paper Effect */
.small-img,
.big-img {

    background-color: #eee;
    box-shadow: inset 0 0 0 .1em hsla(0, 0%, 0%, .1), inset 0 0 1em hsla(0, 0%, 0%, .05), 0 .1em .25em hsla(0, 0%, 0%, .5);
    position: relative;
}

.small-img:after,
.small-img:before,
.big-img:after,
.big-img:before {

    bottom: .1em;
    box-shadow: 0 0 .5em .5em hsla(0, 0%, 0%, .25);
    content: "";
    height: 3em;
    position: absolute;
    width: 80%;
    z-index: -1;
}


.small-img:after,
.big-img:after {

    right: 1em;
    -webkit-transform: rotate(3deg);
    -webkit-transform-origin: 100% 100%;
}

.small-img:before,
.big-img:before {

    left: 1em;
    -webkit-transform: rotate(-3deg);
    -webkit-transform-origin: 0% 100%;
}​


