* {
  margin: 0;
  padding: 0;
  font-family: 'Myriad Pro 1167301', Arial, sans-serif;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

a.link:hover {
  color: #d93137;
}

.selected {
  background-color: #d93137;
  color: #ffffff !important;
}

.text-center {
  text-align: center;
}

.button-common {
  background-color: #d93137;
  color: #ffffff;
  text-decoration: none !important;
  text-align: center;
  font-family: 'Myriad Pro 1166607', Arial, sans-serif;
  font-size: 13px;
  padding: 7px 15px !important;
}

a.button {
  display: block;
  height: 40px;
  width: 132px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background-color: #d93137;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

a.button:hover,
a.button-list:hover,
a.button-common:hover {
  background-color: #fff000;
  color: #333333 !important;
}

img {
  border: 0;
}

.modal-window {
  display: none;
}

#wg-wrapper {
  /*min-height: 100%;*/
  height: auto !important;
  height: 100%;
  margin: 0 auto 0px;
}

.wg-ajax-loader {
  background: url(../images/ajax-loader.gif) no-repeat 50% 50% white;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.wg-button-loader {
  transition: width 0s;
  background: url(../images/icons/loading.gif) no-repeat 50% 50% !important;
}
.wg-button-loader:hover {
  background-position: 50% 50%;
}

#wg-submit-login-form, #wg-submit-accept-code-form:hover {
  -webkit-transition: background-position 0.0s linear;
  -moz-transition: background-position 0.0s linear;
  -o-transition: background-position 0.0s linear;
  transition: background-position 0.0s linear;
}

#wg-submit-login-form {
  margin-bottom: 10px;
}

.mobile-ticket-social img {
  opacity: 0.6;
}

/*Footer*/
#wg-footer {
  height: 35px;
}
#wg-footer ul {
  list-style-type: none;
}
#wg-footer ul li {
  float: left;
  margin-right: 10px;
}

.wg-row-map {
  height: 420px;
  margin: 5px 0 10px;
  overflow: auto;
  position: relative;
}

.ui-dialog .ui-dialog-content {
  padding: 0px !important;
  overflow: hidden !important;
}

.ui-dialog.ui-widget-content {
  padding: 0px !important;
  overflow: visible !important;
}

.ui-dialog {
  border-radius: 0px !important;
}

.ui-dialog .close-button {
  cursor: pointer;
  float: left;
  height: 32px;
  position: absolute;
  right: -33px;
  top: -1px;
  width: 32px;
}

.ui-dialog-titlebar {
  display: none;
}

#wg-modal-login .close-button {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}
#wg-modal-login .errorSummary p {
  margin-bottom: 4px;
}
#wg-modal-login .errorSummary ul {
  list-style: none;
  margin-bottom: 20px;
}
#wg-modal-login .errorSummary li {
  font-family: 'Myriad Pro 1166607', Arial, sans-serif;
  font-size: 11px;
  color: red;
}

.wg-captcha {
  width: 120px;
  height: 50px;
}

.button-common.disabled {
  background: #CCC !important;
}

/*MODAL WINDOW*/
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.language-bar {
  float: left;
  margin-left: 20px;
}
.language-bar a {
  color: #7e7e7e;
  margin-right: 5px;
  font-size: 16px;
  line-height: 46px;
  text-decoration: none;
  cursor: pointer;
}
.language-bar a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.language-bar a.active {
  color: #333;
}
.language-bar a.active:hover {
  text-decoration: none;
}

#wg-checkout {
  display: none;
}

.wg-list-events {
  list-style-type: none;
  margin: 0;
}

.wg-slider-block {
  height: 520px;
  padding-bottom: 100px;
}

.wg-index-back {
  margin-top: 20px;
}

.wg-timer {
  position: absolute;
  left: 715px;
  margin-top: -14px;
  font-size: 14px;
}

.wg-chair-color {
  height: 15px;
  width: 15px;
  display: inline-block;
}

.wg-sectors {
  position: absolute;
  display: block;
  z-index: 1;
}
.wg-sectors > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.wg-sectors .wg-rows .wg-places {
  position: absolute;
  display: table;
  line-height: 0;
  border-radius: 50%;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 0 2px #000;
  font-weight: bold;
  border: 1px solid transparent;
}
.wg-sectors .wg-rows .wg-places:hover {
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  background-color: green;
}
.wg-sectors .wg-rows .wg-places p {
  display: table-cell;
  vertical-align: middle;
}
.wg-sectors .wg-rows .wg-lock {
  background-color: #f3f3f3 !important;
  color: #000;
  text-shadow: 0 0 2px #fff;
  border-color: #ccc;
}
.wg-sectors .wg-rows .wg-places-status0:hover {
  background-color: #5bb9d4 !important;
  text-shadow: 0 0 2px #5bb9d4;
}
.wg-sectors .wg-rows .wg-places-status1 {
  background-color: #5bb9d4 !important;
  text-shadow: 0 0 2px #5bb9d4;

}
.wg-sectors .wg-rows .wg-places-status2 {
/*  display: none;*/
  background-color: #e2d8d8 !important;

}
.wg-sectors .wg-rows .wg-places-status3 {
/*  display: none;*/
  background-color: #cbc1c1 !important;

}

.price-range .wg-alert-msg {
  position: absolute;
  left: 317px;
  font-size: 13px;
  margin-top: 16px;
}

.wg-chairs-prices {
  list-style-type: none;
  margin: 0 auto;
  display: table;
}
.wg-chairs-prices li {
  float: left;
  margin-right: 10px;
}

.wg-price {
  display: inline;
}

.wg-map-hall {
  /*height: 600px;*/
  display: table;
  position: relative;
  /* overflow: auto;*/
  margin-bottom: 10px;
}

.wg-map-pattern {
  max-width: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.wg-cart-line {
  width: 560px;
}
.wg-cart-line .wg-remove-basket-item {
  background: url("../images/booked.png?Red") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  margin: 0 0px 0 2px;
  width: 14px;
}
.wg-cart-line .wg-clear-basket {
  margin-left: 5px;
}
.wg-cart-line h3 {
  line-height: 40px;
  text-align: center;
}

#wg-map-scale {
  z-index: 1;
}

#wg-modal-puppet-theatre .close-button {
  right: 0;
}
#wg-modal-puppet-theatre h1 {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
}
#wg-modal-puppet-theatre .wg-alert-top {
  font-family: 'Myriad Pro 1167301', Arial, sans-serif;
  text-align: center;
}
#wg-modal-puppet-theatre .puppet-theatre-content {
  width: 410px;
  margin: 0 auto;
  margin-top: 20px;
}
#wg-modal-puppet-theatre .puppet-theatre-content p {
  font-size: 12px;
  font-family: 'Myriad Pro 1167301', Arial, sans-serif;
}
#wg-modal-puppet-theatre .puppet-theatre-content p span {
  font-family: inherit;
}
#wg-modal-puppet-theatre .puppet-theatre-content .wg-alert-bottom {
  text-align: center;
  font-style: italic;
  color: #ff0000;
  margin-top: 10px;
}
#wg-modal-puppet-theatre .puppet-theatre-content .left {
  text-align: center;
  width: 152px;
  float: left;
}
#wg-modal-puppet-theatre .puppet-theatre-content .left button {
  margin-bottom: 12px;
}
#wg-modal-puppet-theatre .puppet-theatre-content .left button:hover {
  cursor: pointer;
}
#wg-modal-puppet-theatre .puppet-theatre-content .right {
  text-align: center;
  width: 157px;
  float: right;
}
#wg-modal-puppet-theatre .puppet-theatre-content .right button {
  margin-bottom: 12px;
}
#wg-modal-puppet-theatre .puppet-theatre-content .right button:hover {
  cursor: pointer;
}

.wg-pay-system-table td {
  padding: 20px 10px;
}

.wg-basket table tr td.form-label {
  text-align: right;
  padding: 5px;
}

.wg-basket ul {
  list-style: none outside none;
}

.wg-basket .table {
  margin-bottom: 0 !important;
}

.wg-basket-half-left {
  width: 50%;
  float: left;
}

.wg-basket-half-right {
  width: 50%;
  float: right;
}

/*Widget Orders page*/
.wg-order-item {
  background: none repeat scroll 0 0 #E5EFFB;
  border: 1px solid #C5C5C5;
  margin: 8px 0 10px;
  max-width: 950px;
  min-height: 239px;
  position: relative;
}
.wg-order-item .wg-list-tickets {
  padding-left: 8px;
}

.ticket-line {
  background: url("../images/icons/vertical-ico.png") repeat-y scroll 0 0 transparent;
  height: 237px;
  position: absolute;
  right: 174px;
  top: 0;
  width: 10px;
  z-index: 10;
}

.ticket-img {
  float: left;
}

.ticket-info {
  background: none repeat scroll 0 0 white;
  float: right;
  padding: 9px 0 9px 9px;
  position: relative;
  width: 168px;
}

.ticket-info h4 {
  font: bold 11px Arial,sans-serif;
}

.ticket-info p {
  font: 11px/12px Arial,sans-serif;
  margin-top: 6px;
}

.ticket-info .ticket-payment-info {
  bottom: 5px;
  left: 9px;
  position: absolute;
}

.ticket-info .ticket-payment-info .ticket-cost {
  font-weight: bold;
  margin: 12px 0 4px;
}

.ticket-info .ticket-payment-info p.order-code-title {
  font: 13px Arial,sans-serif;
  margin: 12px 0 4px;
}

p.order-code {
  color: #E04B00;
  margin: 5px 0 10px;
}

.ticket-main {
  margin-left: 178px;
  padding-top: 7px;
}

.ticket-main h3 {
  font: bold 15px Arial,sans-serif;
  margin-bottom: 3px;
}

.ticket-main p {
  margin-left: 8px;
}

.ticket-main .show-place span {
  font: italic 14px Arial,sans-serif;
}

.ticket-main ul {
  list-style: none outside none;
  display: inline-block;
}

.wg-ticket-footer {
  bottom: 0;
  float: right;
  position: absolute;
  right: 190px;
  font-weight: bold;
}

.wg-event-order {
  margin: 10px;
}

.wg-order-item > .ticket-main h3 {
  margin-left: 7px;
}

.wg-message-booking-result-thanks {
  margin-bottom: 15px;
}

.wg-h4-allshows {
  margin-top: 30px;
}

.wg-shows-list {
  height: 520px;
  padding-right: 20px;
  overflow-y: auto;
}

.wg-events-list {
  height: 520px;
  padding-right: 20px;
  overflow-y: auto;
}

.wg-site-image {
  width: 40px;
  height: 40px;
}

.wg-eticket-wrapper {
  margin: 20px;
  position: relative;
  width: 750px;
  height: 350px;
  border: 2px solid #000;
}
.wg-eticket-wrapper .wg-left-side {
  display: block;
  float: left;
  width: 520px;
  padding: 10px;
}
.wg-eticket-wrapper .wg-left-side .wg-tbl-right-side {
  padding-left: 30px;
}
.wg-eticket-wrapper .wg-left-side table td {
  vertical-align: text-top;
}
.wg-eticket-wrapper .wg-left-side .wg-et-header {
  border: 2px solid #000;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 20px;
  padding: 20px 0;
}
.wg-eticket-wrapper .wg-left-side .wg-save-info {
  font-size: 10px;
  text-align: center;
}
.wg-eticket-wrapper .wg-left-side .wg-qr-code {
  width: 160px;
  height: 160px;
  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
.wg-eticket-wrapper .wg-left-side .wg-order-number {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.wg-eticket-wrapper .wg-right-side {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 310px;
  float: right;
  width: 180px;
  padding: 20px;
  border-left: 2px solid #000;
  line-height: 18px;
}
.wg-eticket-wrapper .wg-right-side p {
  margin-bottom: 5px;
  line-height: 15px;
}

.wg-book-line {
  margin-top: 25px;
}

.wg-print-button {
  margin-left: 15px;
}

.wg-how-to-buy-list {
  list-style-position: inside;
  margin-left: 20px;
}
.wg-how-to-buy-list li {
  margin-top: 10px;
}


.wg-map-hall-94-12 .wg-sectors .wg-rows .wg-places {
	border-radius: 50%;
}



.wg-map-hall-300-1 .wg-sectors .wg-rows .wg-places {
	border-radius: 50%;
}

.eventTechnology {
	color: red;
	margin-top: -5px;
	font-weight: bold;
	font-size: 12px;
}

.filmAgeLimit {
	color: darkorange;
	margin-top: -5px;
	font-weight: bold;
	font-size: 12px;
}

h1 .eventTechnology, h1 .filmAgeLimit {
	font-size: 14px;
}
