.droplinebar{
overflow: hidden;
}

.droplinebar ul{
margin: 0;
padding: 0;
float: left;
width: 100%;
font: bold 14px Arial;
}

.droplinebar ul li{
display: inline;
}

.droplinebar ul li a{
float: left;
color: #333333;
text-shadow: #fff 0px 1px 0px;
padding-right: 12px;
text-decoration: none;
}

.droplinebar ul li a.tmenu:hover, .droplinebar ul li .current{ /*background of main menu bar links onMouseover*/
text-shadow: #5f0707 0px 1px 0px;
color: white;
background: url('images/menu_bg.png') right top no-repeat;
}

.droplinebar ul li a span
{padding-left: 12px;
padding-top: 7px;
padding-bottom: 8px;
display: inline-block;
}

.droplinebar ul li a:hover span, .droplinebar ul li .current span{ /*background of main menu bar links onMouseover*/
background: url('images/menu_span_bg.png') left top no-repeat;
}


/* Sub level menus*/
.droplinebar ul li ul{
position: absolute;
z-index: 100;
left: 0;
top: 0;
background: url('images/secondulbg.png') no-repeat; /*sub menu background color */
visibility: hidden;
}

/* Sub level menu links style */
.droplinebar ul li ul li a{
font: normal 12px Arial;
padding: 6px;
padding-right: 14px;
padding-left: 14px;
margin: 0;
text-shadow: #5f0707 0px 1px 0px;
color: white;
background: url('images/menuBullet.png') right top no-repeat;
}

.droplinebar ul li ul li a.lastLi{background: none;
}

.droplinebar ul li ul li a:hover{ /*sub menu links' background color onMouseover */
	text-decoration: underline;

}