body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body
{
	padding-top: 41px;
	font-family: Verdana;
	font-size: 11px;
	background: #000 url(images/footer_IMAX.jpg) center bottom no-repeat;

}

#cinemaLogoImax
{
	float: right;
	width: 138px;
	height: 35px;
	margin-top: 2px;
}

#grayHeaderLine
{
	position: fixed;
	height: 41px;
 	width: 100%;
	background: url('images/grayHeaderBg.jpg') repeat-x;
	top: 0;
	z-index: 10000;
}

#imax_top
{
	width: 1000px;
	height: 90px;
/*	background: url('images/imax_top.jpg') top left no-repeat; */
	background: #fff;
}

#wrap
{
	width: 1026px;
	margin: 0 auto;
	padding-top:205px;
}

#wrapper
{
	background: url('images/header_IMAX.jpg') center top no-repeat
}

#content
{
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

.brand {
    display: block;
    height: 182px;
    width: 1026px;
}


#announceBlock
{
	width: 1000px;
	height: 370px;
	background: #fff;
}

#announce
{
	height: 370px;
	width: 1000px;
	background: #dbdbdb;
}


#mainContent
{
	width: 1000px;
	padding-top: 11px;
	background: #fff;
}

#leftContent
{
	width: 1000px;
	float: left;
}


#imax_news
{
	margin:0;
	padding:0;
	list-style-type:none;
}

#imax_news li
{
	width: 490px;
	margin-right: 10px;
	float: left;
	background: url('images/imax_news_line.png') left bottom no-repeat;
	padding-bottom: 30px;
}

#imax_news li p
{
	width: 263px;
	font: normal 12px/18px Arial;
	color: #333;
	float: left;
}

#imaxNews
{
	font: bold 14px/18px Arial;
	color: #333;
	margin-bottom: 10px;
	margin-top: 20px;
}

#imax_news_img
{
	float: left;
	width: 212px;
	margin-right: 15px;
}

#imax_news_title
{
	text-decoration: none;
	width: 263px;
	display: inline-block;
	font: normal 14px/18px Arial;
	color: #0092d0;
}

#imax_news_title:hover
{
	text-decoration: underline;
}

#imax_news_date
{
	width: 263px;
	display: inline-block;
	font: normal 11px/18px Arial;
	color: #adadad;
}



#lineHr
{
	height: 34px;
	display: block;
	clear: both;
	background: url('images/lineHr.jpg') repeat-x;
}

#lineBlank
{
	clear: both;
	height: 1px;
}


#footer
{
	margin-top: 12px;
	height: 213px;
	background: #cfcfce url('images/imax_footer_bg.jpg') top left repeat-x;
}

#footerWrap
{
	width: 1000px;
	height: 177px;
	padding-top: 36px;
	margin: 0 auto;
	position: relative;
}

#copyrights
{
	position: relative;
	background: url('images/copyrightsBg.png') left top no-repeat;
	height: 95px;
	padding-top: 31px;
}

#imax_logos
{
	width: 149px;
	margin-top: 20px;
	float: left;
}

#footer_bullet
{
	float: left;
	width: 2px;
	height: 65px;
	margin-top: 27px;
	margin-right: 35px;
}

#about_imax
{
	width: 335px;
	margin-right: 60px;
	float: left;
	font: normal 12px/18px Arial;
	color: #333333;
}


#imax_phone
{
	width: 210px;
	margin-right: 11px;
	float: left;
	font: normal 12px/18px Arial;
	color: #333333;
}

#imax_phone h2
{
	font: normal 30px/50px Arial;
	color:#fff;
}

#footerMenu
{
}

#logoFooter
{
	width: 106px;
	height: 30px;
	background: url('images/logoFooter.png') no-repeat;
	display: block;
	text-decoration: none;
	margin-left: 12px;
	float: left;
}

#imaxlogoFooter
{
	width: 113px;
	height: 30px;
	background: url('images/imax_logo.png') no-repeat;
	display: block;
	text-decoration: none;
	margin-left: 6px;
	float: left;
	margin-top: 20px;
}



#headerWrap
{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}


#searchField
{
	width: 240px;
	height: 25px;
	background: url('images/searchFieldBg.png') top left no-repeat;
	border: 0;
	margin-left: 16px;
	float: right;
	margin-top: 7px;
	font: normal 12px Arial;
	color: #898989;
	line-height: 24px;
	padding-left: 15px;
	position: absolute;
	right: 27px;
}

#searchButton
{
	float: right;
	width: 27px;
	height: 25px;
	margin-top: 7px;
}

.announce_img
{
	width: 1000px;
	height: 370px;
	position: absolute;
	z-index: 3000;
}

.announce_txt
{
	position: relative;
	width: 277px;
	height: 215px;
	z-index: 4000;
	top: 13px;
	left: 708px;
	background:url('images/announceTxtBg.png');
}

#logo_small
{
	width: 113px;
	height:31px;
	background: url('images/logo_small.png');
	display: inline-block;
	float: left;
	margin-top: 5px;
	text-decoration: none;
}

#logo_small_bullet
{
	width: 2px;
	margin-left: 15px;
	float: left;
	margin-top: 11px;
	height: 21px;
}

#logo_text
{
	font: bold 11px/10px Arial;
	color: #8c8c8c;
    text-shadow: 0 1px 0 #fff;
    float: left;
    width: 100px;
    margin-left: 15px;
    margin-top: 10px;
}

#imax_menu
{
	padding: 0;
	margin:0;
	list-style-type: none;
	position: relative;
	top: 20px;
}

#imax_menu li
{
	float: left;
	margin-left: 13px;
}

#imax_menu li a
{
	font: bold 18px/49px Arial;
	color: #333333;
	text-decoration: none;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;
}

#imax_menu li a:hover, #imax_menu li a.active
{
	background: url('images/imax_menu_hover.png') center center no-repeat;
}

.announce_txt h2
{
	font: bold 16px/20px 'Arial';
	color: #fff;
	margin-left: 20px;
	width: 237px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.announce_txt p
{
	font: 12px/16px 'Arial';
	color: #fff;
	margin-left: 20px;
	width: 237px;
}

.announce_txt ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-left: 20px;
}

.announce_txt ul li
{
	padding-left: 20px;
	width: 106px !important;
	margin-right: 0 !important;
	height: 21px;
}

.announce_txt ul li a
{
	font: normal 12px Arial;
	color: #fff;
	line-height: 17px;
}

.announce_txt ul li a:hover
{
	text-decoration: none;
}

.announce_txt ul li.trailerLi
{
	background: url('images/announceTrailerLiBg.png') left top no-repeat ;
}

.announce_txt ul li.watchLi
{
	background: url('images/announceWatchLiBg.png') left top no-repeat ;
}

.playLink
{
	width: 723px;
	height: 255px;
	display: inline-block;
	position: absolute;
	text-decoration: none;
	z-index: 4000;
}

.announce_img img
{
	width: 1000px;
	height: 370px;
}


#imax_bot_menu
{
	width: 165px;
 	float: left;
 	font: normal 12px Arial;
}

#imax_bot_menu a
{
	color: #333;
	text-decoration: none;
}

#imax_bot_menu a:hover
{
	text-decoration: underline;
}

.xContent
{
    color: #333333;
    float: left;
    font: 12px/18px Arial;
	margin-top: 20px;
	margin-bottom: 20px;
}

.xContent a
{
	color: #0092D0;
}

.photo img
{
	width: 1000px;
	height: 370px;
}

.xContent p, .xContent div
{
	margin-bottom: 15px;
}

.d-button, .d-button:hover {
    color: #FFFFFF !important;
}

.d-button .text {
    font-size: 138.5%;
    font-weight: bold;
    margin-top: -0.7em;
    padding: 0 3px 0 1px;
    position: absolute;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
    top: 24px;
    width: 180px;
}

.d-button {
    background: url("http://planeta-kino.com.ua/f/1/global/i/buttons.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 41px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 184px;
}

.d-button:hover { background-position: 0 -41px; }
.d-button:active { background-position: 0 -82px; }

#blockHeaderMenu
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

#blockHeaderMenu li
{
	float: left;
	line-height: 30px;
	margin-top: 3px;
	margin-right: 8px;
}

#blockHeaderMenu li:hover,#blockHeaderMenu li.active
{
	background: url('images/linkBgHoverLeft.png') top left no-repeat;
}

#blockHeaderMenu li a
{
	text-decoration: none;
	font: bold 12px Arial;
	color: #2379b6;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 24px;
	height: 24px;
	display: block;
}

#blockHeaderMenu li a span
{
	background: url('images/link_bg.jpg') repeat-x;
	margin:0;
	padding: 0;
	height: 24px;
	display: block;
}

#blockHeaderMenu li:hover a span, #blockHeaderMenu li.active a span
{
	background: none;
}

#blockHeaderMenu li a:hover, #blockHeaderMenu li.active a
{
	background: url('images/linkBgHoverRight.jpg') top right no-repeat;
	margin-left: 0;
	padding-left: 12px;
	padding-right: 12px;
	color: #636363;
	text-shadow: 0 1px 0 #FFFFFF;
}

.five-columns {
    font-size: 85%;
    line-height: 1.55;
    overflow: hidden;
    padding: 2em 0;
    position: relative;
    background: url(http://planeta-kino.com.ua/f/1/global/i/gradient-bg-black.jpg);
}

.five-columns .column {
    float: left;
    width: 20%;
}

.five-columns .column .reducer {
    padding: 0 20px;
    color: #BFBFBF;
}

.five-columns h2 {
    font-size: 155%;
    line-height: 1.3;
    margin-bottom: 0.77em;
    color: #FFFFFF;
}


.five-columns h2 a{
    color: #FFFFFF;
}


.five-columns h2 a:hover{
    color: #BC004F;
}

.d-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.d-cn, .d-el, .sorting.switcher .d-arrow {
    background-image: url("http://planeta-kino.com.ua/f/1/global/i/decors.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.five-columns .d-cn {
    height: 10px;
    left: 0;
    margin: -5px 0 0 -5px;
    top: 0;
    width: 10px;
    z-index: 5;
}

.five-columns .d-cn {
    height: 10px;
    left: 0;
    margin: -5px 0 0 -5px;
    top: 0;
    width: 10px;
    z-index: 5;
}

.five-columns .d-cn.d-tr, .five-columns .d-cn.d-br {
    left: 100%;
}

.five-columns .d-cn.d-bl, .five-columns .d-cn.d-br {
    top: 100%;
}

.five-columns .d-cn {
    height: 10px;
    left: 0;
    margin: -5px 0 0 -5px;
    top: 0;
    width: 10px;
    z-index: 5;
}