/* Easy Slider */


	#slider_container
	{
		width: 1000px;
		height: 115px;
		background: url('images/sliderBg.png');
		overflow: hidden;
		z-index: 5000;
		top: 40px;
		position: relative;
	}

	#slider_container_photo
	{
		width: 664px;
		height: 93px;
		background: url('images/sliderBg.png') repeat-x;
		overflow: hidden;
		z-index: 5000;
		top: 257px;
		position: relative;
	}


	#slider
	{

		width: 985px !important;
		margin-left: 15px;
		float: left;
		top: 15px;
		position: relative;
		overflow-y: hidden;
	}


	#slider3 ul, #slider3 li,
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider3{margin-top:1em;}
	#slider li, #slider2 li, #slider3 li{
		/*
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/
		width:985px;
		height:90px;
		overflow:hidden;
		}


	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{
		display:block;
		width:19px;
		height:19px;
		position:relative;
		z-index:1000;
		top: 37px;
		}

	#prevBtn
	{
		float: left;
		margin-left: 15px;
		margin-right: 3px;
	}
	#nextBtn, #slider1next{
		float: right;
		margin-right: 15px;
		}
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{
		display:block;
		position:relative;
		width:19px;
		height:19px;
		background:url(images/btnPrev.png) no-repeat 0 0;
		}
	#nextBtn a, #slider1next a{
		background:url(images/btnNext.png) no-repeat 0 0;
		}

	/* numeric controls */

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;
		}
	ol#controls li{
		margin:0 10px 0 0;
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

	#slider ul li a
	{
		width: 197px;
		height: 85px;
		display: block;
		float: left;
		padding: 0;
		opacity: 0.5;
	}

	#slider ul li a:hover, 	#slider ul li a.active
	{
		opacity: 1;
	}

	#slider ul li a img
	{
		border: 0;
		width: 182px;
		height: 85px;
		margin-left: 7px;
		margin-top: 2px;
	}



	#slider ul li a:hover img
	{
		margin-top: 0px;
		margin-left: 5px;
		border: 2px solid #9ca0a5;
	}

	#slider ul li a.active img
	{
		margin-top: 0px;
		margin-left: 5px;
		border: 2px solid #9ca0a5;
	}


	.sliderPhoto ul li a img
	{
		border: 0;
		width: 58px !important;
		height: 35px !important;
		margin-left: 7px;
		margin-top: 2px;
	}

	.sliderPhoto ul li a
	{
		width: 65px !important;
		height: 39px !important;
		display: block;
		float: left;
		padding: 0;
	}

	.sliderPhoto li{
		/*
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/
		width:590px;
		height:39px !important;
		overflow:hidden;
		}


	.sliderPhoto
	{
		height: 39px !important;
		width: 590px !important;
		margin-left: auto;
		margin-right: auto;
		float: left;
		top: 11px;
		position: relative;
		overflow-y: hidden;
	}

	.indexSlider
	{
		height: 90px !important;
	}

	#slider_container_photo #prevBtn
	{
		top: 22px !important;
	}

	#slider_container_photo #nextBtn
	{
		top: 22px !important;
	}

	#sliderPhotoTitle
	{
		width: 621px;
		height: 28px;
		font: normal 14px/42px Arial;
		color: #fff;
		padding-left: 43px;
	}


/* // Easy Slider */