*{
	margin:0;
	padding:0;
}

body, table{
	font-size: 12px;
	font-family: Verdana;
	color:#434343;
}

table{
	border-collapse:collapse;
	width:100%;
}

a img{
	border:0;
}

td, th{
	vertical-align:top;
}

body{
	padding:2px;
	scrollbar-face-color:#ffffff;
	scrollbar-darkshadow-color:#404E6A;
	scrollbar-arrow-color:#404E6A;
	scrollbar-highlight-color:#9FABC1;
	scrollbar-shadow-color:#9FABC1;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-track-color:#9FABC1;
	overflow:auto;
}

textarea{
	overflow:auto;
}

body.blank{
	padding:0;
}

#framework{
	height:100%;
	width:100%;
	background:white;
}
button{
	border:0;
	background:none;
}

#panels{
	position:fixed;
	top:0px;
	left:2px;
	background:#ffffff;
	padding-top:2px;
	z-index:200;
}

div.panels_blank{
	position:fixed;
	top:0px;
	left:0px;
}

#panels div.panel{
	vertical-align:middle;
	padding:2px;
	margin:0 0 2px 0;
	width:auto;
}

#panels last{
	margin:0px;
}

#main{
	padding:2px;
	height:1px;
}

#fra_left{
	height:100%;
}

.panel{
	border:1px solid #9FABC1;
	background:white;
	width:100%;
}

img.button{
	border:1px solid white;
	cursor:hand;
	cursor:pointer;
}

img.button:hover, button:hover img{
	border:1px solid #9FABC1;
}

img.spacer, img.spacer:hover{
	border:0;
	cursor:default;
}

button{
	cursor:hand;
	cursor:pointer;
}

button:hover img.image{
	border:0;
}



td.hider_v{
	padding:0 2px 0 2px;
	width:20px;
	vertical-align:middle;
	text-align:center;
}

td.hider_h{
	padding:2px;
	height:20px;
	vertical-align:middle;
	text-align:center;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
}

table.form{
	width:100%;
}

table.form th{
	text-align:left;
	font-weight:normal;
	padding:2px;
	vertical-align:top;
	font-weight:normal;
}

table.form th.err{
	font-weight:bold;
	color:#FF0000;
}

table.form td{
	padding:2px;
	width:100%;
	vertical-align:top;
}

input, select, textarea, .input{
	border:1px solid #9FABC1;
	background:#F6F6FC;
	font-size: 12px;
	font-family: Verdana;
	color:#000000;
}

input.err, select.err, textarea.err{
	background:#FFEFF2;
}

input.checkbox{
	border:0;
	width:14px;
	height:14px;
	overflow:hidden;
	background:none;
}

input.button{
	background:#9FABC1;
	border:1px outset;
}

#login{
	width:220px;
	margin:auto;
	margin-top:20px;
	padding-bottom:10px;
}

#login table{
	margin:auto;
}

#login th{
	color:#404E6A;
	font-weight:bold;
}

.title{
	font-weight:bold;
	background:#404E6A;
	color:#ffffff;

}

a{
	color:#404E6A;
}

span.nav_path{
	display:block;
	font-weight:bold;
	color:#404E6A;
	padding:2px;
}

span.nav_path img{
	margin:0 2px 0 0;
}

div.icon{
	display:inline;
	float:left;
	width:100px;
	height:80px;
	text-align:center;
	padding:10px;
}

ul.tree ul{
	list-style: none outside;
	margin-left:14px;
}

ul.tree li{
	margin:4px 0 4px 0;
}

ul.tree img{
	position:relative;
	top:1px;
}

.active{
	font-weight:bold;
}

#msg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#ffffff no-repeat center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index:300;
	padding-top:100px;
	text-align:center;
	color:#404E6A;
	font-size:30px;
}

table.table{

}

#thead{

}

table.table td{
	border:1px solid #9FABC1;
	padding:2px;
	height:20px;
	vertical-align:middle;
}

table.table tr:hover{
	background:#F6F6FC;
}

table.table th{
	padding:2px;
	color:#ffffff;
	background:#404E6A;
	border:1px solid #9FABC1;
	border-bottom:0px;
	text-align:left;
	font-weight:normal;
}

table.table th a{
	color:#ffffff;
}

table.table td.checkbox, table.table td.selectbox, table.table td.button, table.table td.textbox{
	text-align:center;
}

#tbody{
	margin-top:20px;
}

div.msg{
	text-align:center;
	font-weight:bold;
	color:#404E6A;
}

#wks{
	/*border:0;*/
}

a.preview {
	display:block;
	margin:2px 0 2px 0;
	width:1px;
}

a.tab, a.tab_active{
	display:inline;
	padding:4px;
	border:1px solid #9FABC1;
	border-left:0px;
	color:#8392AF;
	text-decoration:none;
	background:#F6F6FC;
}

a.tab_active{
	border-bottom:1px solid #ffffff;
	color:#404E6A;
	background:#ffffff;
}

div.tabs{
	padding:5px 0 4px 0;
	margin:0;
	border-bottom:1px solid #9FABC1;
	border-left:1px solid #9FABC1;
}

div.blank{
	border:0;
	padding:0 !important;
	margin:0;
}

img.preview{
	height:60px;
}

img.preview:hover{
	width:auto;
	height:auto;
}

hr{
	height:1px;
	overflow:hidden;
	border:0;
	background:#404E6A;

}

div.calendar{
	background:#ffffff;
	border:1px solid #404E6A;
	height:200px;
	width:200px;
}

.hand{
	cursor:hand;
	cursor:pointer;
}

a.date, a.date_active{
	display:block;
	text-align:center;
	padding:2px;
}

a.date_active{
	background:#FEFFBF;
}

a.date:hover{
	background:#F6F6FC;
}

table.calendar tr:hover{
	background:none;
}

table.calendar td{
	padding:0;
}

div.info{
	display:inline;
	position:relative;
}

div.info_text{
	position:absolute;
	top:15px;
	left:15px;
	width:250px;;
	height:250px;
	display:none;
	z-index:300;
}

div.info_text div.info_text2{
	overflow:auto;
	height:250px;
	width:240px;
	padding:5px;
}

div.info_text iframe{
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100%;
	border:0;
}

a.list{
	display:block;
	margin:2px 0 4px 2px;
}

td.listbox{
	vertical-align:top;
}

div.listbox{
	position:relative;
}

div.listbox input{
	width:200px; margin-bottom:2px
}

div.listbox2{
	display:none;
	position:absolute;
	top:20px;
	left:0;
	width:200px;
	height:100px;
}

div.xBB img{
	border:1px solid #9FABC1;
}

div.xInfo{
	border:1px solid #9FABC1;
	padding:5px;
	background:#FFFFDF;
}

/*xContent*/-------------------------------------------------
.xContent p{
	padding:0 0 10px 0;
}

.xContent ul{
	padding:0 0 10px 25px;
	list-style-position:outside;
}

.xContent ol{
	padding:0 0 10px 25px;
	list-style-position:outside;
}

.xContent sub{
	vertical-align: sub;
	font-size:80%;
}

.xContent sup{
	vertical-align: super;
	font-size:80%;
}

.xContent blockquote{
	padding:5px 10px 5px 10px;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

.xContent h1{
	font-weight:bold;
	font-size:22px;
	padding:0 0 12px 0;
}

.xContent h2{
	font-weight:bold;
	font-size:20px;
	padding:0 0 10px 0;
}

.xContent h3{
	font-weight:bold;
	font-size:18px;
	padding:0 0 8px 0;
}

.xContent h4{
	font-weight:bold;
	font-size:16px;
	padding:0 0 6px 0;
}

.xContent h5{
	font-weight:bold;
	font-size:14px;
	padding:0 0 4px 0;
}

.xContent h6{
	font-weight:bold;
	font-size:12px;
	padding:0 0 2px 0;
}
/*============================================================*/


