#panels, #thead, #msg{
	/*behavior:url("/mods/sys/include/position_fixed.htc");*/
	position:absolute;
}

img.button, table.table tr{
	behavior:url("/mods/sys/include/csshover.htc");
}


div.info_text div.info_text2{
	width:100%;
}