div.info {
	position:static; /* Переопределение  правила для IE младше седьмой версии */
}

#panels, #thead, #msg{
	behavior:url("/mods/sys/include/position_fixed.htc");
}

img.button, table.table tr{
	behavior:url("/mods/sys/include/csshover.htc");
}