
body
{
	 background-color: #f5f8ff;
	 margin-left: 0px;
	 margin-right: 0px;
	 margin-top: 0px;
	 color: #002674;
}

td
{
	background-color: #f5f8ff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	color: #002674;
}

a
{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	text-decoration: none;
	color: #002674;
}

input, select, textarea
{
	background-color: #ffffff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
	color: #002674;
}

.pageHeader
{
	background-color: #000000;
	font-size: 11pt;
	font-weight: bold;
	font-variant: normal;
	text-align: left;
	color: #ffffff;
}

.forgetMe
{
	background-color: #000000;
	text-align: right;
	font-size: 11pt;
	font-weight: normal;
	font-variant: normal;
	color: #ffffff;
}

.list1
{
	background-color: #f5f8ff;
	color: #002674;
}

.list2
{
	background-color: #eef6ff;
	color: #002674;
}

.contentTable
{
	border-style: none;
	border-collapse: collapse;
	width: 100%;
}

.contentTD
{
	background-color: #f5f8ff;
	vertical-align: top;
	text-align: center;
	color: #002674;
}

.priority
{
	background-color: #f5f8ff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 13pt;
	font-weight: bold;
	color: #002674;
}

.headerTD
{
	background-color: #000000;
	height: 20px;
	vertical-align: middle;
	color: #ffffff;
}

.inputTable
{
	width: 400px;
	border-style: none;
	border-collapse: collapse;
}

.listTable
{
	width: 700px;
	border-style: none;
	border-collapse: collapse;
}

.listLastTD1
{
	width: 595px;
	background-color: #f5f8ff;
	color: #002674;
}

.listLastTD2
{
	width: 595px;
	background-color: #eef6ff;
	color: #002674;
}

.error
{
	background-color: #f5f8ff;
	font-weight: bold;
	color: #ff0000;
}

