<!--Журнал БД имеет три режима:-->
<ul>
	<li>"Выкл" - в журнале ничего не регистрируется</li>
	<li>"Изменения" - в жунрале регистрируються только запросы на изменение содежримого БД. Т.е. запросы INSERT и UPDATE</li>
	<li>"Все" - в журнале регистрируются все запросы к БД</li>
</ul>