<br>
<b>Формат полей</b><br>
<b>*</b> - с первого по последний<br>
<b>(5-17)</b> - с пятого по семнадщатый<br>
<b>1,5,8</b> - первый, пятый и восьмой<br>
<b>*/3</b> - каждый третий<br>
<b>(5-10)/2</b> - с пятого по 10, каждый второй (т.е. 6,8,10)
