/******************************************************************************
 *                                                                            *
 *   style.css, v 0.04 2007/03/29 - This is part of xBB library               *
 *   Copyright (C) 2006-2007  Dmitriy Skorobogatov  dima@pc.uz                *
 *                                                                            *
 *   This program is free software; you can redistribute it and/or modify     *
 *   it under the terms of the GNU General Public License as published by     *
 *   the Free Software Foundation; either version 2 of the License, or        *
 *   (at your option) any later version.                                      *
 *                                                                            *
 *   This program is distributed in the hope that it will be useful,          *
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of           *
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the            *
 *   GNU General Public License for more details.                             *
 *                                                                            *
 *   You should have received a copy of the GNU General Public License        *
 *   along with this program; if not, write to the Free Software              *
 *   Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA *
 *                                                                            *
 ******************************************************************************/

html {
    background-color: #e6e6e6;
}
body {
    font-family: Verdana, Arial, sans-serif;
    margin: 10px;
    border: #d0d0d0 2px solid;
    background-color: #f6f6f6;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #002;
}
p, ul, ol, div, blockquote {
    font-size: 12px;
    letter-spacing: 1px;
    color: #002;
}
acronym {
    border-bottom: #303030 1px dotted;
    cursor: help;
}
pre {
    border: #c0e6ff 1px solid;
    background-color: #e0e8ef;
    color: #002;
}
hr {
    height: 0;
    border: none;
    border-top: #404040 1px dotted;
    width: 75%;
}
var {
    color: blue; font-style: normal; font-family: monospace;
}
li {
    padding-bottom: 2px;
}
ul li {
    font-size: 12px;
}
ul ul li {
    font-size: 12px;
}
ul ul ul li {
    font-size: 12px;
}
h1 {
    color: #404060;
}
h2 {
    text-align: center;
    color: #404060;
}
h3 {
    border-bottom: #b0b0b0 1px dotted;
    margin-top: 2em;
    border-top: #b0b0b0 1px dotted;
    background-color: #ddd;
}
h4 {
    margin-top: 1.6em;
    border-bottom: #c0c0c0 1px dotted;
    margin-bottom: 0;
}
h5 {
    border-bottom: #d0d0d0 1px dotted;
    margin-top: 1.2em;
    margin-bottom: 0;
}
h3, h4, h5 {
    color: #707070;
    font-weight: normal;
}
table.bb {
    border-collapse: collapse;
}
th {
    border: #b0b0b0 1px solid;
    background-color: #ddd;
    color: #555;
}
td.bb {
    border: #b0b0b0 1px solid;
}
a {
    color: #7777ff;
}
blockquote.bb_quote {
    border: #d0d0d0 1px solid;
    background-color: #f6f6f6;
    padding: 5px;
    margin: 1em 0 0 .75em;
}
div.bb_quote_author {
    border: #d0d0d0 1px solid;
    border-width: 1px 2px 2px 1px;
    margin-top: -1.2em;
    background-color: #f6f6f6;
    width: 150px;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
}
div.bb_quote_author:after {
    content: " писал(а):";
}
div.bb_code {
    border: #d0d0d0 6px double;
    background-color: #f6f6f6;
    color: #404060;
    padding: 5px;
    margin: 1em 0 0 0.8em;
    font-family: Monaco,'Courier New',monospace;
}
div.bb_code_header {
    border: #d0d0d0 1px solid;
    border-width: 1px 2px 2px 1px;
    padding-left: 5px;
    margin-top: -1.6em;
    background-color: #f6f6f6;
    white-space: nowrap;
    font-weight: bold;
    color: #404060;
    text-align: left;
}
span.bb_code_lang:before {
    content: "Код: ";
}
div.bb_code_footer {
    margin: 5px -5px -5px -5px;
    padding: 4px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #a9b8c2;
    color: #333333;
    font-weight: bold;
    text-align: center;
}
#content {
    padding-left: 1em;
}
#top {
    border-bottom: #d0d0d0 1px dotted;
}
#top_h1 {
    margin: 0;
    color: #404060;
    font-size: 18px;
    margin-left: 100px;
}
#top_links {
    padding-bottom: 1em;
    margin-left: 100px;
}
#xbb_logo {
    border: none;
    float: left;
}

/* Стили посветки BBCode: */

code.bb_code {
    font-size: 1em;
    color: #000000;
}
span.bb_spec_char {
    color: #000099;
}
span.bb_mnemonic {
    color: #ff0000;
}
span.bb_tag {
    color: #009900;
}
span.bb_bracket {
    font-weight: bold;
}
span.bb_slash {
    font-weight: normal;
}
span.bb_tagname {
    color: #990099;
}
span.bb_equal {
    color: #999900;
}
span.bb_quote {
    color: #009999;
}
span.bb_attrib_name {
    color: #999900;
}
span.bb_attrib_val {
    color: #009999;
}
span.bb_autolink {
    color: #0000ff;
}
caption {
    font-weight: bold;
}
