body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body
{
	background: #fff;
	padding-top: 41px;
	font-family: Arial;
	font-size: 14pt;
}

.container
{
	background: url('images/popcorn.png') 688px 0px no-repeat;
	width: 1002px;
	margin: 0 auto;
}

.logo
{
	width: 173px;
	height: 52px;
	background: url('images/logo404.png');
	text-decoration: none;
	display: block;
	float: left;
	position: relative;
	left: -25px;
}

.search
{
	background: #f5f5f5;
	width: 372px;
	height:	53px;
	margin: 0 0 60px 60px;
	border: 1px solid #dedede;
	float: left;
}

#searchField
{
	width: 320px;
	height: 25px;
	background: url('images/searchFieldBg.png') top left no-repeat;
	border: 0;
	margin-left: 5px;
	font: normal 12px Arial;
	color: #898989;
	line-height: 24px;
	padding-left: 15px;
}

#searchButton
{
	width: 27px;
	height: 25px;
}

#searchField, #searchButton
{
	margin-top: 13px;
	float: left;
}

h1
{
	font-size: 22pt;
	margin: 0 0 17px 0;
	clear: both;
}

.catalog
{
	width: 940px;
	border-collapse: collapse;
	margin-top: 58px;
}

.catalog td
{
	vertical-align: top;
}

.catalog a
{
	color: #2379b6;
	font-size: 11pt;
	text-shadow: 0px 0px 1px #cbcbcb;
	margin-bottom: 9px;
	display: block;
}

.catalog a:hover
{
	color: #0c598f;
}

.catalog .section
{
	color: #000000;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 17px;
}

.footer
{
	background: url("images/footerBg404.png") repeat-x;
}

.copyrightsBg
{
	background: url("images/copyrightsBg.png") center top no-repeat;
	width: 1002px;
	height: 90px;
	padding-top: 35px;
	margin: 0 auto;
}

#copyright
{
	font: bold 12px Arial;
	line-height: 27px;
	color: #898989;
    text-shadow: 0 1px 0 #fff;
    float: left;
}

#advertising
{
	width: 290px;
	margin-left: 35px;
	font: normal 12px Arial;
	line-height: 18px;
	color: #898989;
    text-shadow: 0 1px 0 #fff;
    float: left;
    margin-top: 4px;
}

#advertising a
{
	color: #2379b6;
}

#advertising a:hover
{
	text-decoration: none;
}

#socials
{
	margin-left: 28px;
	list-style-type: none;
	width: 150px;
	float: left;
	margin-top: 4px;
}

#socials li
{
 	float: left;
 	width: 16px;
 	margin-right: 14px;
}

#socials li a img
{
	border: 0;
}

#iphone
{
	width: 66px;
 	display: inline-block;
 	color: #434648;
 	text-decoration: none;
 	font: normal 11px Arial;
 	line-height: 12px;
 	padding-left: 20px;
 	background: url('images/iphoneBg.png') left top no-repeat;
    text-shadow: 0 1px 0 #fff;
    margin-left: 30px;
    float: left;
}

#designedBy
{
	margin-left: 53px;
	float: left;
	font: italic 10px Arial;
	color: #898989;
    text-shadow: 0 1px 0 #fff;
    line-height: 24px;
}

#shvedun
{
	width: 84px;
	height: 17px;
	display: block;
	float: left;
	text-decoration: none;
	background: url('images/shvedun.png') no-repeat;
	margin-top: 2px;
	margin-left: 2px;
}