.blocks
{
background:	transparent url(/mods/main/skins/default/images/blockBg.jpg) repeat-x;
height:	284px;
border: 1px solid #dedede;
font-family:arial;
margin-bottom: 12px;
position: relative;
}

.label:hover
{
	cursor: pointer;
}

.blocks a
{
color:		#2379b6;
}

.blocks img
{
border:		0;
}
.blocks td
{
vertical-align:top;
}
.blocks .label
{
font-family:arial;
height: 37px;
margin-left: 9px;
margin-right: 9px;
display:		block;
padding:		10px;
1height:		63px;
padding:		17px 0 17px 30px;
background:	url(/mods/main/skins/default/images/blocks/arrow.png) left bottom no-repeat;
}

.wantee .label
{
background:	url(/mods/main/skins/default/images/blocks/arrowBot.png) 7px no-repeat;
}


.blocks .label.hover
{
margin-left: 0;
margin-right: 0;
padding:		17px 0 17px 39px;
background-position:	16px;
}



.blocks .label .title
{
font: bold 14px Arial;
color: #333333;
}

.blocks .hover .title
{
color:		#a11c1e;
font: bold 14px Arial;
}

.blocks .label .description
{
color:		#898989;
font-size:	10pt;
}


.blocks .label.hover
{
background-image:	url(images/blocks/arrow-active.png);
-webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 0px 6px rgba(50, 50, 50, 0.3);
box-shadow:         0px 0px 6px rgba(50, 50, 50, 0.3);
}

.nearest .label.hover
{
	background-color: #fff;
}

.haveChoice .label.hover
{
	background-color: #fbfbfb;
}

.time .label.hover
{
	background-color: #f6f6f6;
}

.wantee .label.hover
{
	background-color: #f2f2f2;
}





.blocks  .outer
{
width:		691px;
float:		left;
position:		absolute;
margin:		/*8*/-2px 0 0 -690px;
display:		none;
padding-bottom: 3px;
background: url('images/newsprite.png') left bottom no-repeat;
1border:		11px solid #c0c0c0;

}

.botShadow
{
	width: 689px;
	height: 3px;
	display: block;
	background: url('images/topShadow.png') left top repeat-x;
}

.blocks  .outer .container
{
display:		none;
width:		0px;
float:		right;
overflow:		hidden;

	background: white url('images/newsprite.png') left -129px no-repeat;

padding:		10px;
min-height:		264px;
<!-- height:		287px; -->
}

.blocks  .outer .container .content
{
display:		none;
}




.blocks h4
{
float:		left;
text-transform:uppercase;
font-size:	11pt;
margin:		0 0 5px 0;
}

.blocks .closeButton
{
float:		right;
text-transform:uppercase;
color:		#9a9a9a;
background:	transparent url(images/blocks/nearest/closeButton.gif) no-repeat 55px ;
padding:		0 20px 0 0;
display:		block;
text-decoration:none;
}

.blocks .closeButton:hover
{
text-decoration:underline;
}

.blocks .nearest .addressBlock
{
width:		240px;
padding:		0 5px 0 0;
}

.blocks .nearest .addressBlock .cityBlock
{
background:	#e7f1fa;
padding:		10px;
color:		#606060;
font-size:	8pt;
margin:		0 0 10px 0;
}

.blocks .nearest .addressBlock .cityBlock .label
{
margin:		0 0 10px 0;
border:		0;
padding:		0;
background:	none;
}

.blocks .nearest .addressBlock  .addressList a
{
font-size:	10pt;
font-weight:	bold;
text-decoration:none;
display:		block;
padding:		1px 0;
}

.blocks .nearest .addressBlock  .addressList .address
{
color:		#898989;
font-size:	9pt;
}

.blocks .nearest .addressBlock  .addressList hr
{
background:	#d0d0d0;
border:		0;
height:		1px;
}

.blocks .nearest .mapBlock .all
{
font-size:10pt;
color:		#2379b6;
}

.blocks .pagesList
{
margin:		15px 0 0 0;
text-align:	center;
}

.blocks .pagesList img
{
vertical-align:middle;
}
.blocks .nearest .mapBlock img
{
display:		block;
}


.blocks .haveChoice .cityBlock
{
margin:		10px 0 0 0;
}

.blocks .list td
{
width:		230px;
font-size:	10pt;
}
.blocks .list ul,
.blocks .list li
{
/*reset*/
padding:		0;
margin:		0;
list-style-type:none;
}

.blocks  .list a,
.blocks  .list a
{
font-weight:	bold;
text-decoration:none;
}

.blocks .list ul
{
margin:		0 30px 0 0;
}

.blocks .list li
{
padding:		12px 0;
border-bottom:	1px solid #cccccc;

}

.blocks .all
{
font-size:	9pt;
}
.blocks .all.floatLeft
{
float: right;
margin-right: 20px;
}

.blocks .prompt
{
margin:		10px 0 0 0;
font-weight:	bold;
font-size:	10pt;
color:		#666666;
}

.blocks .prompt2
{
margin:		10px 0;
color:		#666666;
font-size:	8pt;
}


.blocks .time .times
{
font-size:		10pt;
margin:		0 0 10px 0;
}

.blocks .time .times a.disabled
{
color:		#898989;
}

.blocks .wanteeee ul.filmsul li,
.blocks .wantee ul.filmsul
{
	padding: 0;
	margin:  0;
	list-style: none;
}

.blocks .wantee ul.filmsul
{
margin:		20px 0;
}

.blocks .wantee ul.filmsul li
{
	width: 200px;
	min-height: 135px;
	padding: 0 0 0 18px;
	float: left;
	border-right: 1px solid #d2d2d2;
	overflow-x: hidden;
}


.blocks .wantee a
{

	text-decoration: underline;
}

.blocks .wantee a.title
{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;

}

.blocks .wantee .element
{
	height: 170px;
	border-bottom: 1px solid #cbcbcb;
	margin-left: 10px;
	margin-bottom: 15px;
}

.blocks .haveChoice .element
{
	height: 170px;
	margin-left: 10px;
	margin-bottom: 15px;
}

.blocks .haveChoice .slides_container
{
	margin-bottom: 21px;
}

.blocks .wantee .slides_container
{
	margin-bottom: 21px;
}

a.trailersBlock
{
	line-height: 17px;
	display: inline-block;
	padding-left: 19px;
	background: url('images/trailerArrow.png') left top no-repeat;
	text-decoration: underline;
}

a.trailersBlock:hover
{
	text-decoration: none;
}

a.whatWatchBlock
{
	line-height: 17px;
	display: inline-block;
	padding-left: 19px;
	background: url('images/whereWatchArrow.png') left top no-repeat;
	text-decoration: underline;
}

a.whatWatchBlock:hover
{
	text-decoration: none;
}



.blocks .wantee .firstShow
{
	color: #ffffff;
	background: #e31e24;
	font-size: 10pt;
	text-decoration: none;
	width: 73px;
	height: 20px;
	padding: 3px 0 0 0;
	margin: 8px 0 0 0;
	text-align: center;
	display: block;
	clear: both;
}


.blocks .wantee .bestFilm
{
	width: 75px;
	height: 94px;
	margin-right: 12px;
	float: left;
}


.clear
{
clear:	both;
}
