
#searchbox
{	position: relative;
}

div.listbox2{
	display:none;
	position:absolute;
	top:18px;
	left:14px;
	width:350px;
	background: #fefefe;
	border: 1px solid #adadad;
	z-index: 10000;
}

div.listbox2 ul li
{	line-height: 17px;
	padding-left: 10px;
	border-bottom: 1px solid #D9D9D9;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
}

div.listbox2 ul li:hover
{
	background: #e8e8e8;
}


div.listbox2 ul li.hover
{
	background: #e8e8e8;
}


div.listbox2 ul li a
{
	color: #970301 !important;
}

div.listbox2 ul li a:visited
{
	color: #970301 !important;
}

div.listbox2 strong
{	padding-left: 10px;
	padding-top: 10px;
}

#all_results
{	width: 350px;
	height: 22px;
	background: #ededed;
	color: #777;
}

#all_results .results
{	font-size: 11px;
	line-height: 22px;
	padding-right: 10px;
	float: right;
}

#all_results .results a
{	color: #777 !important;
}

#searchfield
{     padding: 0 0 0;
     background: none;
}

.film_text
{	color: #757474;
}

.hr
{	background: url('http://www.kino-teatr.ua/ims/hr.jpg') repeat-x center left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.search_title
{	font-size: 16px;
	margin-top: 10px;
	display: block;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 5px;
	background: #ededed;
}

.hell
{	height: 91px;
    left: 130px;
    position: absolute;
    top: 220px;
    width: 94px;
    background: url('http://www.kino-teatr.ua/ims/pumpkin.png') no-repeat;
}

div.hell:hover
{	cursor: pointer;
}


.poster_preview
{
	display:block;

	width: 150px;
	float: left;
	margin-bottom: 25px;
	margin-right: 12px;
}

.poster_preview img
{
	border:1px solid #DDCEAF;
	padding:1px;
	background:#ffffff;
}

strong.gray
{	color: #AAAAAA;
}