/*reset------------------------------------------------------*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend
	{
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 100%;
		font-family: inherit;
		vertical-align: baseline;
	}
	
	:focus {
		outline: 0;
	}
	
	body {
		line-height: 1;
		color: black;
		1background: #FEF5E6;
	}
	
		.bg_bottom{
		background:url("img_brend/brending_footer2.jpg") center bottom no-repeat;
	}
	
	ol, ul {
		list-style: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: "";
	}
	blockquote, q {
		quotes: "" "";
	} 
/*============================================================*/

/*system----------------------------------------------------*/
	body{
	/* брендирование фона */
		background:#000000 url("img_brend/brending_head2.jpg") center top no-repeat;
		overflow:auto;
	}
	
	body.xContent{
		padding:4px;
	}
	
	body, table{
		font: 11px Tahoma;
		color:#515A61;
	}
	
	table.x, table.x100{
		border-collapse:collapse;
		width:100%;
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 100%;
		font-family: inherit;
		vertical-align: baseline;
	}
	
	table.x100{
		height:100%;
	}
	
	td.x, th.x{
		vertical-align:top;
		text-align:left;
		padding:0;
		margin:0;
		background:		#ffffff;
	}
	
	a img{
		border:0;
	}
	
	a{
		color:#4F749F ;
	}
	
	a:visited {
		color:#5B7081 !important;
	}
	
	a[href]:visited{
		color:#5B7081 !important;
	}
	
	a[href]
	{
		color:#4F749F !important;
		text-decoration: -moz-anchor-decoration;	/* For Firefox 3, otherwise no underline will be used */
	}
	
	a:hover{
		text-decoration:none;
	}
	
	input, select, textarea{
		border:1px solid #A3A099;
		font: 11px Tahoma;
	}
	
	input.xCheckbox{
		border:0;
	}
	
	b,strong{
		font-weight:bold;
	}
/*=========================================================================*/
input.xErr, select.xErr{
	background:#FFEFF2;
	color:#000000;
}

input.xRed{
	border:1px solid #970301;
	background:#970301;
	color:#F5FFFD !important;
}

input.xSilver{
	border:1px solid #85929C;
	background:#85929C;
	color:#FFFFFF;
}

input.xBrown{
	background:#DDCEAF;
	border:1px solid #DDCEAF;
	color:#71604E;
	font-weight:bold;
}

div.xHr{
	height:1px;
	background:url('img/hr.gif') repeat-x;
	font-size:1px;
}

.xGreen{
	color:#197B30;
}

#framework{
	width:1000px;
	margin:auto;
	1background: url('img/bgr0.jpg') repeat-x;
}

#header{
	/*background:url('img/header.jpg') no-repeat;*/
	background:transparent;
	height:199px;
	vertical-align:bottom;
}

#logo{
margin:		0px 0px 0px 15px;
/*
	position:absolute;
	top:35px;
	left:16px;
*/
}

#stellaGlas{
	background:url('img/stella_glass.jpg') no-repeat;
	width:480px;
	height:130px;
	position:absolute;
	left:417px;
}

#headBanner{
	position:absolute;
	top:28px;
	left:216px;
}

#headBanner img{
	border:0;
}

#userMenu{
	height:32px;
	padding:0 15px 0 15px;
}

#userMenu table{
	background:#DDCEAF url('img/bgr3.gif') repeat-x;
}

#langs{
	background:#ddceb0;
	width:133px;
	padding:8px 0 0 28px;
	font-size:11px;
	color:#5C5A67;
	font-weight:bold;
}

#loginForm img, #langs img{
	position:relative;
	top:3px;
	margin:0 4px 0 4px;
}

#userMenu a{
	font-weight:normal;
	color:#997731 !important;
}

#pda{
	background:#ddceb0;
	width:39px;
	padding:8px 0 0 0;
}

#loginForm{
	background:#ddceb0;
	text-align:right;
	padding:6px 20px 0 0;
	font-size:11px;
}

#left{
	width:200px;
	padding:0 15px 22px 15px;
}

#menu{
	background:#F8EACD url('img/bgr4.gif') repeat-x;
	padding:17px 0 8px 0;
	font-size:12px;
}

#menu li{
	padding:0 0 10px 28px;
	background: url('img/spacer.gif') no-repeat center 17px;
	
}

#menu li.last{
	background: none;
	
}

#menu a{
	text-decoration:none;
	color:#997731 !important;
	background:url('img/dot.gif') no-repeat left 5px;
	padding:0 0 0 13px;
}

#menu li.active a{
	color:#910802 !important;
	background:url('img/dot2.gif') no-repeat left 5px;
	padding:0 0 0 13px;
	font-weight:bold;
}

#search{
	display:block;
	font-size:11px;
	border:1px solid #DDCEAF;
	margin:13px 0 13px 0;
	background:#FBF5E6 url('img/bgr1.gif') repeat-x;
	padding:10px 0 15px 0;
	text-align:center;
}

#center{
	/*background:url('img/bgr_anno.gif') repeat-y;*/
	padding:0 0 20px 0;
}

#search span{
	position:relative;
	top:-3px;
}

#leftBanner{
	border:1px solid #660000;
	margin:0 0 13px 0;
}

#calendar{
	border:1px solid #D7D0B4;
	padding:12px;
	background:#FBF5E6 url('img/bgr1.gif') repeat-x;
	margin:0 0 13px 0;
}

#calendar table{
	width:174px;
}

#calendar select{
	width:174px;
	margin-bottom:15px;
	color:#4D565D;
	font-weight:bold;
}

table.xShowsCalendar{
	font-size:11px;
}

table.xShowsCalendar th{
	text-align:center;
	padding:0 0 4px 0;
}

table.xShowsCalendar th.xRed{
	color:#9B000A !important;
}

table.xShowsCalendar a, table.xShowsCalendar a:visited{
	text-decoration:none;
	color:#515A61 !important;
}

table.xShowsCalendar td{
	padding:2px 0 2px 0;
	text-align:center;
}

table.xShowsCalendar td.empty{
	text-decoration: line-through;
}


table.xShowsCalendar td.xCurrent a{
	border:1px solid #D7D0B4;
	font-weight:bold;
	padding:1px;
}

table.xShowsCalendar td.today a{
	background:#E7DFD4;
	padding:0 2px 0 2px;
}

table.xShowsCalendar td.off a{
	color:#9B000A !important;
}

table.xShowsCalendar td.off{
	border-left:1px solid #D4D2CC;
}

#left div.xTitle{
	height:28px;
	background:#E7DDC2 url('img/bgr6.gif');
}

#left div.xTitle h3{
	font-weight:bold;
	color:#970301;
	font-size:12px;
	padding:7px 0 0 32px;
}

#left div.xTitle h3 span{
	font-weight:normal;
	color:#515A61;
	text-transform:lowercase;
}

#left div.xTitle h3.graph{
	background:url('img/ico_graph.gif') no-repeat 11px 8px;
}

#left div.xTitle h3.graph2{
	background:url('img/ico_graph2.gif') no-repeat 11px 8px;
}

ul.xTop{
	background:#F8ECD1 url('img/bgr5.gif') repeat-x; 
	padding:5px 0 10px 0;
	font-size:11px;
	font-weight:bold;
	margin:0 0 13px 0;
}

ul.xTop2{
	background:#F8ECD1 url('img/bgr5.gif') repeat-x; 
	padding:5px 0 10px 0;
	font-size:11px;
	margin:0 0 13px 0;
}

ul.xTop li{
	padding:0 10px 5px 22px;
	background:url('img/arrow.gif') no-repeat 13px 5px;
}

ul.xTop2 li{
	padding:0 10px 5px 22px;
	background:url('img/arrow.gif') no-repeat 13px 5px;
}

#bottomMenu{
	height:27px;
	padding:0 15px 0 15px;
}

#bottomMenu table{
	background:#DDCEAF url('img/bgr3.gif') repeat-x;	
}

#bottomkin{
	height:27px;
	padding:0 15px 0 15px;
}

#developer{
	width:177px;
	vertical-align:middle;
	font-size:10px;
	padding:0 0 0 23px;
	background:url('img/spacer3.gif') no-repeat right;
}

#developer img{
	position:relative;
	top:3px;
}

#botMenu{
	font-size:11px;
	vertical-align:middle;
	color:#71604E;
	padding:0 0 0 20px;
}

#footer{
	height:1px;
}



#adLinks{
	font-size:10px;
	color:#A5A5A5;
	text-align:center;
	padding:5px;
}

#adLinks a{
	text-decoration:none;
	color:#A5A5A5 !important;
}

#adLinks a:hover{
	text-decoration:underline;
}

#copyright{
	text-align:center;
	font-size:11px;
	padding:5px 10px 15px 10px;
}

#counters{
	text-align:center;
	padding:0 0 13px 0;
}

.xErr{
	color:#970301;
}

div.xErr{
	border:1px solid #DDCEAF;
	padding:5px;
	margin:0 0 5px 0;
	background:#F8EACD;
	font-weight:bold;
}

#main{
	/*background:url('img/bgr_anno.gif') repeat-y;*/
	padding:0 15px 0 0;
}

#billboad{
	height:366px;
	padding:15px 14px 0 0;
	font-size:11px;
}

#billboad h1{
	display:inline;
	font-weight:normal;
}

#mainBanner{
	width:240px;
	background:url('img/bgr_ad.gif') no-repeat left 7px;
	padding: 14px 0 0 0;
	text-align:right;
	
}

#mainBill{
	border:1px solid #DDCEAF;
	height:320px;
	overflow:auto;
	margin:7px 0 0 0;
	overflow-x: hidden;
}

#mainBill div{
	padding:0 10px 0 10px;
}

#mainBill h2{
	text-transform:uppercase;
	font-weight:bold;
	padding:10px 0 2px 0;
}

.xLoading{
	background:#ffffff url('img/loading.gif') no-repeat center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height:100%;
}

div.xMainTitle{
	background:#E3CDA4 url('img/bgr7.gif') repeat-x;
	text-transform:uppercase;
}

div.xMainTitle h2{
	color:#970301;
	font-weight:bold;
	font-size:14px;
	padding:5px 0 5px 22px;
}

#nearestPremiers td.date{
	color:#FF0000;
	text-align:center;
	font-weight:bold;
	height:27px;
	padding:5px 0 0 0;
	font-size:12px;
}

#nearestPremiers td.poster{
	text-align:center;
}

#nearestPremiers a.xImage{
	width:100px;
	margin:auto;
}

#nearestPremiers td.title{
	text-align:center;
	padding:5px 0 0 0;
}

div.xTitle2{
	background:#E7DDC2 url('img/bgr6.gif');
	text-transform:uppercase;
}

div.xTitle2 h2{
	font-weight:bold;
	color:#970301;
	font-size:14px;
	padding:5px 0 5px 22px;
}

h2.xDoc, h3.xDoc{
	background:url('img/ico_doc.gif') no-repeat 8px 8px;
}

h2.xDoc2{
	background:url('img/ico_doc2.gif') no-repeat 8px 8px;
}

h3.xPoster{
	background:url('img/ico_poster.gif') no-repeat 8px 8px;
}

h3.xTrailer{
	background:url('img/ico_trailer.gif') no-repeat 8px 8px;
}

h3.xPhoto{
	background:url('img/ico_photo.gif') no-repeat 8px 8px;
}

h3.xFrames{
	background:url('img/ico_frames.gif') no-repeat 8px 8px;
}

h3.xWallpaper{
	background:url('img/ico_wallp.gif') no-repeat 8px 8px;
}


a.xRss{
	display:inline;
	float:right;
	padding:7px 7px 6px 7px;
	background:url('img/spacer4.gif') no-repeat;
}

table.main_lastNews{
	margin-top:11px;
}

table.main_lastNews td.xImage{
	padding:0 9px 4px 18px;
	width:1px;
}

table.main_lastNews td.text{
	padding:11px 0 0 0;
	font-size:11px;
}

a.xImage, div.xImage{
	border:1px solid #DDCEAF;
	background:#ffffff;
	display:block;
	padding:1px;
}

a.xImage img{
	background:#ffffff url('img/loading.gif') no-repeat center;
}



div.xTitle3{
	height:28px;
	background:#E7DDC2 url('img/bgr6.gif');
}

div.xTitle3 h3{
	font-weight:bold;
	color:#970301;
	font-size:12px;
	padding:7px 0 0 23px;
	text-transform:uppercase;
}

ul.main_noveltys{
	padding:5px 0 10px 0;
	font-size:11px;
	font-weight:bold;
	margin:0 0 5px 0;
}

ul.main_noveltys li{
	padding:0 10px 5px 22px;
	background:url('img/arrow.gif') no-repeat 13px 5px;
}

#right{
	width:240px;
	padding:0 15px 20px 15px;
}

#right_banner{
	background:url('img/bgr_ad.gif') no-repeat left 7px;
	padding: 14px 0 14px 0;
}

#left_banner{
	background:url('img/bgr_ad.gif') no-repeat right 7px;
	padding: 14px 0 5px 0;
}

#mainTitle{
	position:absolute;
	color:#970301;
	font-size:18px;
	font-weight:bold;
	width:500px;
	top:235px;
	left:231px;
}

#mainHidden{
	font-size:18px;
	font-weight:bold;
	padding:11px 0 10px 0px;
	color:#FBF5E7;
}


table.xTable{
	font-size:11px;
}

table.xTable td, table.xTable th{
	padding:4px 6px 4px 6px;
	text-align:left;
	border:1px solid #DDCEAF;
}
table.xTable th{
	background:#E9E5DB;
	font-weight:normal;
}

div.main_letters{
	padding-bottom:4px;
	font-size:11px;
	font-weight:bold;
	color:#970301;
}

table.xForm {
	font-size:11px;
}

table.xForm td{
	padding:0 px 6px 0;
}

div.main_pages{
	font-size:11px;
	padding:4px 0 4px 0;
}

.xLinks1Kt a, a.xLinks1Kt, .xLinks1Kt a:visited, a.xLinks1Kt:visited{
	color:#970301 !important;
}

.xLinks1 a, a.xLinks1{
	color:#71604E !important;
}

.xLinks1 a:visited, a.xLinks1:visited{
	color:#9C8D7D !important;
}

.xLinks1Nv a, a.xLinks1Nv, .xLinks1Nv a:visited, a.xLinks1Nv:visited{
	color:#71604E !important;
}

.xLinks1Nv2 a, a.xLinks1Nv, .xLinks1Nv2 a:visited, a.xLinks1Nv2:visited{
	color:#71604E !important;
	font-weight:bold;
}

.xLinks2 a, a.xLinks2, .xLinks2 a:visited,a.xLinks2:visited{
	color:#4F749F !important;
}


div.main_pages div{
	display:inline;
	float:right;
}

div.main_pages a{
	font-weight:bold;
}

.xCurrent{
	color:#970301;
}

table.xTabs{
	margin-bottom:17px;
}

table.xTabs .active
{
	background:#DDCEAF;
}

table.xTabs .active a, div.xTabs .active a:visited{
	font-weight:bold;
	color:#53564B !important;
	text-decoration:none;
}


div.xTab{
	display:inline;
	float:left;
	font-size:11px;
	border:1px solid #DDCEAF;
	border-top:0px;
	border-left:0px;
}

div.xTab div.brd1{
	position:relative;
	border-top:1px solid #DDCEAF;
	border-left:1px solid #DDCEAF;
	top:-1px;
	left:-1px;
}

div.xTab div.brd2{
	position:relative;
	border-left:1px solid #DDCEAF;
	left:-1px;
	top:2px;
}

div.xTab div.brd3{
	position:relative;
	border-top:1px solid #DDCEAF;
	left:3px;
	top:-3px;
}

div.xTab a{
	padding:2px 6px 2px 6px;
	display:block;
	position:relative;
	left:-2px;
	top:1px;
}

#main_film a.xImage{
	margin-bottom:9px;
}

#main_film td.info{
	width:100%;
	padding:0 0 0 15px;
}

#main_film td.info table th{
	text-align:left;
	padding:0 0 6px 0;
	width:1px;
	white-space:nowrap;
}

#main_film td.info table td{
	padding:0 0 6px 4px;
	text-align:left;
}

.xRed{
	color:#FF0000 !important;
}

#main_film li{
	padding-bottom:4px;
}

#markForm td
{
	text-align:center;
}

/*content*/
.xContent{
	font-size:12px;
}

.xContent p{
	padding:0 0 10px 0;
}

.xContent ul{
	padding:0 0 10px 14px;
	list-style-position:outside;
	
}

.xContent ol{
	padding:0 0 10px 14px;
	list-style-position:outside;
}

/*---------------------*/

a.xMore{
	text-align:right;
	display:block;
}

div.main_media a{
	border:1px solid #DDCEAF;
	background:#ffffff;
	display:block;
	padding:1px;
	width:214px;
	margin:12px 0 12px 12px;
}

a.xImage{
	border:1px solid #DDCEAF;
	background:#ffffff;
	display:block;
	padding:1px;
}

center.prevNext{
	font-weight:bold;
	background:url('img/separator_1.gif') no-repeat center top;
	margin-top:5px;
}

#main_film_photos a.xImage{
	width:495px;
}

div.image_looks{
	display:inline;
	float:left;
}

div.image_buttons{
	display:inline;
	float:right;
}

input.image_add{
	margin-top:10px;
	float:right;
}

div.xPreviews{
	overflow-x:auto;
	/*height:85px;*/
	width:495px;
	margin: 5px 0 5px 0;
}

div.xPreviews table{
	margin:auto;
	border-collapse:collapse;
}

div.xPreviews a.xImage{
	width:80px !important;
}

div.xPreviews td{
	padding:0 5px 0 5px;
}

div.xPreviews td.xCurrent{
	opacity: 0.5 !important;
	filter: alpha(opacity=50) !important;
}

a.zoom{
	background:url('img/zoom.gif') no-repeat left 2px;
	padding-left:15px;
}

table.xImage td{
	text-align:center;
	vertical-align:middle;
	background:#ffffff url('img/loading.gif') no-repeat center;
}

#main_film_reviews td.photo{
	width:100px;
	padding:0 14px 23px 0;
}

#main_film_reviews td.photo img{
	border:1px solid #DDCEAF;
}

#main_film_reviews td.intro{
	padding:0 0 23px 0;
}

#main_film_reviews td.intro h2{
	font-weight:bold;
	margin-bottom:4px;
}

#main_film_reviews td.intro h2 span{
	font-weight:normal;
}

#main_film_reviews td.intro a.user{
	display:block;
	text-align:right;
	margin:3px 0 15px 0;
}

#main_film_reviews td.intro div.xButtons{
	display:block;
	text-align:right;
}

div.xButtons input{
	margin-left:8px;
}


#main_film_persons table{
	border-collapse:collapse;
}

#main_film_persons table td{
	text-align:center;
	padding:0 20px 10px 0;
}


#main_film_persons a.xImage{
	width:100px;
}

h2.title{
	text-transform:uppercase;
	color:#970301;
	font-weight:bold;
	padding:8px 0 8px 0;
}

#main_film_wallpapers div.xImage{
	width:495px;
}


#main_film_posters div.xPreviews{
	height:155px;
}

#main_film_posters a.xImage{
	width:100px !important;
}

#main_film_soundtracks td.poster{
	width:100px;
	vertical-align:top;
}

#main_film_soundtracks td.tracks{
	padding:0 0 0 10px;
}

#main_film_soundtracks div.xImage{
	width:100px;
}

#main_film_soundtracks div.xButtons{
	text-align:right;
	margin:10px 0 0 0;
}

#main_film_awards h2.nom{
	color:#515A61;
}

#main_film_awards div.persons{
	padding:0 0 10px 0;
}

#main_film_rating input.xRed{
	float:right;
	display:inline;
}

.pale{
	color:#85929C;
}

div.discuss p{
	padding:2px 0 7px 0;
}

div.discuss form.buttons{
	display:inline;
	float:right;
	text-align:right;
}

blockquote.bb_quote{
	border:1px solid #A3A099;
	background:#F8EBCE;
	padding:4px;
	margin:5px;
}

#main_film_shows select{
	width:174px;
	color:#4D565D;
	font-weight:bold;
	margin-bottom:10px;
}

#main_film_shows tr.cinema td{
	background:#F9F0D9;
	border-bottom:0px;
	border-top:0px;
}

a.order{
	float:right;
	background:url('img/ico_ticket.gif') no-repeat left 4px;
	padding:0 0 0 17px;
}

#main_film_shows td.halls{
	padding:0px;
	border:0px;
}

#main_person div.photo{
	width:160px;
	display:inline;
	float:left;
}

#main_person li{
	padding:2px 0 2px 0;
}

#main_person div.rating{
	padding:4px 0 4px 0;
	text-align:center;
	border:1px solid #DDCEAF;
	width:102px;
	margin:2px 0 0 0;
}

#main_person_photos a.xImage{
	width:495px;
}

#main_person_photos div.xPreviews{
	height:160px;
}

#main_person_photos table.xImage{
	width:80px;
	height:140px;
}	

table.xImage{
	border:1px solid #DDCEAF;
	border-collapse:collapse;
}

table.xImage td{
	text-align:center;
	vertical-align:middle;
	padding:2px;
}

div.main_news a.xImage{
	width:50px;
	height:50px;
	float:left;
	margin-right:5px;
}

div.main_news div.intro{
	height:40px;
	padding:0 0 10px 0;
}

div.main_news h2{
	font-weight:bold;
	font-size:11px;
	padding:0 0 5px 0;
}

div.main_news h2 small{
	font-size:10px;
	font-weight:normal;
}

sup.xExtra{
	font-size:10px;
	font-weight:normal;
	vertical-align: super;
	color:#970301;
}

#main_person_films h2{
	font-size:14px;
	font-weight:bold;
	color:#970301;
	padding:0 0 5px 0;
}

#main_person_films ol{
	margin-bottom:20px;
}

ol.xNumbers{
	list-style-type: decimal;
	list-style-position: outside;
	margin-left:20px;
}

ol.xNumbers li{
	padding-bottom:2px;
}

#main_review div.xImage{
	float:left;
	width:100px;
	margin:0 10px 5px 0;
}

#main_review div.user{
	display:inline;
	float:right;
}

#main_review div.xButtons{
	text-align:right;
	margin-top:10px;
}

#main_cinema_shows td.show{
	background:#F9F0D9;
}

#main_cinema_shows h2{
	font-size:14px;
	color:#970301;
	display:inline;
	font-weight:bold;
}

#main_cinema_shows div.xTitle{
	padding:0 0 3px 0;
}

#main_cinema_shows div.xButtons{
	dislpay:inline;
	float:right;
}

#main_cinema_shows div.xInfo{
	margin:0 0 10px 0;

}

#main_cinema div.xImage{
	width:495px;
}

div.xInfo{
	padding:5px;
	border:1px solid #DDCEAF;
	background:#F9F0D9;
}

#main_cinema div.xInfo{
	margin:10px 0 10px 0;
	line-height: 16px;
}

#main_bill td.calendar{
	border:1px solid #D7D0B4;
	background:#FBF5E6 url('img/bgr1.gif') repeat-x;
	width:200px;
	padding:10px;
}

#main_bill div.invite{
	padding:5px 5px 5px 5px;
	margin: 5px 0 5px 0;
}

#main_bill td.calendar table{
	width:200px;
}

#main_bill td.calendar select{
	width:100%;
	margin-bottom:15px;
	color:#4D565D;
	font-weight:bold;
}

#main_bill td.stella_ru{
	background:url('img/stella_ru.gif') no-repeat right top;
}

#main_bill td.stella_uk{
	background:url('img/stella_uk.gif') no-repeat right top;
}

#main_film a.stella_ru{
	background:url('img/stella_ru.gif') no-repeat center center;
	display:block;
	height:80px;
	text-decoration:none;
}

#main_film a.stella_uk{
	background:url('img/stella_uk.gif') no-repeat center center;
	display:block;
	height:80px;
	text-decoration:none;
}

#main_bill div.object h2{
	display:inline;
	font-size:14px;
	font-weight:bold;
}

#main_bill div.object{
	padding:0 0 5px 0;
}

.xCream{
	background:#F9F0D9;
}

#main_bill td.xCream{
	font-size:12px;
}

a.xPrint{
	background:url('img/ico_print.gif') no-repeat left 4px;
	padding:0 0 0 17px;
	line-height: 16px;
}

body.print{
	background:#ffffff;
	padding:20px;
	color:#000000;
}

body.print table{
	color:#000000;
}

body.print table.xTable td, body.print table.xTable th{
	border:1px solid black;
}

body.print table.xTable th{
	background:silver;
	font-weight:bold;
}

#main_bill_print div.object{
	padding:5px 0 10px 0;
}

#main_bill_print table{
	margin-bottom:20px;
	border-bottom:1px solid black;
}

#main_bill_print h2{
	font-weight:bold;
	font-size:16px;
	display:inline;
}

#main_bill_print h1{
	font-weight:bold;
	font-size:22px;
	padding:0 0 20px 0;
	text-align:center;
}

#main_bill_print td.xCream{
	background:gray;
	color:#ffffff;
	font-size:14px;
}

#main_bill_print a.hide{
	display:block;
	padding:10px 0 5px 0;
}

div.main_newsCalendar table th{
	text-align:center;
	font-weight:bold;
	font-size:14px;
}

div.main_newsCalendar table td{
	text-align:center;
}

div.main_newsCalendar table td.xCurrent{
	font-weight:bold;
	background:#F9F0D9;
}

#main_news_article div.photo{
	float:left;
	padding:0 10px 5px 0;
}


#main_news_article div.user{
	display:inline;
	float:right;
}

#main_news_article div.xButtons{
	text-align:right;
	margin-top:10px;
}

div.xRegister h2{
	font-weight:bold;
	font-size:14px;
	color:#997731;
	margin:0 0 10px 0;
}

div.xRegister th{
	font-weight:bold;
	vertical-align:top;
}

table.xCheckboxes{
	border:1px solid #DDCEAF;
	background:#E9E5DB;
	width:100%;
}

table.xCheckboxes td{
	vertical-align:middle;
}

#main_user_reviews td.photo{
	width:100px;
	padding:0 14px 23px 0;
}

#main_user_reviews td.photo img{
	border:1px solid #DDCEAF;
}

#main_user_reviews td.intro{
	padding:0 0 23px 0;
}

#main_user_reviews td.intro h2{
	font-weight:bold;
	margin-bottom:4px;
}

#main_user_reviews td.intro h2 span{
	font-weight:normal;
}

#main_user_reviews td.intro div.xButtons{
	display:block;
	text-align:right;
	margin-top:5px;
}

#main_news_search h2{
	font-size:14px;
	margin-bottom:4px;
	font-weight:bold;
}

#main_news_search p{
	padding-bottom:10px;
}

#beta{
	text-align:center;
	color:#ffffff;
	background:#970301;
	font-weight:bold;
	margin:0 15px 0 15px;
	padding:3px 5px 3px 5px;
	position:absolute;
	left:0;
	top:2px;
	text-transform:uppercase;
	z-index:10;
	font-size:10px;
}

#beta a, #beta a:hover, #beta a:visited{
	color:#ffffff !important;
}

#main_card td.card{
	text-align:center;
}

#main_film div.reviews h2{
	font-weight:bold;
	color:#970301;
}

#main_film div.reviews h3{
	font-weight:bold;
	margin:8px 0 3px 0;
}

#main_film div.reviews a.user{
	font-weight:normal;
}

#main_film div.comments,
#main_person div.comments,
#main_cinema div.comments
{
	margin:20px 0 0 0;
}

#main_film div.comments h2,
#main_person div.comments h2,
#main_cinema div.comments h2
{
	font-weight:bold;
	margin:0 0 5px 0;
	color:#970301;
}

#main_film div.comments div.comment,
#main_person div.comments div.comment,
#main_cinema div.comments div.comment
{
	margin:0 0 8px 0;
}

#main_film div.comments div.user{
	
}

#main_film div.comments div.xHr,
#main_person div.comments div.xHr,
#main_cinema div.comments div.xHr
{
	margin:5px 0 5px 0;
}
#basisTitle{
	color:#970301;
	font-size:18px;
	font-weight:bold;
}
#basis h2{
	text-transform:uppercase;
	font-weight:bold;
	padding:10px 0 2px 0;
}

#main_film_shows div.calendar{
	border:1px solid #D7D0B4; 
	background:#FBF5E6 url('img/bgr1.gif') repeat-x; 
	width:200px; 
	padding:10px; 
	margin:0 0 10px 0;
}

#main_cinema_films strong.period{
	display:block;
	float:left;
	padding:0 0 3px 0;
}

#main_cinema_films a.details{
	display:block;
	float:right;
	padding:0 0 3px 0;
}

#main_cinema_films div.period{
	display:table;
	width:100%;
	margin:0 0 10px 0;
}

a.xStar,
a.xStar:visited
{
	color:#970301 !important;
}










