body{
	background:#FBF5E7;
	overflow:auto;
	padding:5px;
	/*margin:2px;*/
}
		
body, table{
	font: 12px Tahoma;
	color:#515A61;
}
	
a img{
	border:0;
}

a[href]:visited{
	color:#A3B9CA !important;
}
	
a[href]
{
	color:#6786AB !important;
	text-decoration: -moz-anchor-decoration;	/* For Firefox 3, otherwise no underline will be used */
}
	
a:hover{
	text-decoration:none;
}

a{
	color:#5B7081;
}
	
a:visited {
	color:#A3B9CA !important;
}

div.box{
	border:1px solid #DDCEAF;
	padding:5px;
}

h1{
	font-size:16px;
	padding:0 0 5px 0;
	margin:0px;
}

h2{
	font-size:14px;
	padding:0 0 5px 0;
	margin:0px;
}

h3, h4, h5, h6{
	font-size:12px;
	padding:0 0 5px 0;
	margin:0px;
}

p{
	margin:0;
	padding:0 0 10px 0;
}