body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body
{
	padding-top: 41px;
	font-family: Verdana;
	font-size: 11px;
	background: #fff;

}

#grayHeaderLine
{
	position: fixed;
	height: 41px;
 	width: 100%;
	background: url('images/grayHeaderBg.jpg') repeat-x;
	top: 0;
	z-index: 10000;
}


#wrap
{
	width: 1026px;
	margin: 0 auto;
	padding-top:18px;
}

#content
{
	width: 1000px;
	margin: 0 auto;
	background: #fff;
}

.brand {
    display: block;
    height: 181px;
    width: 1026px;
}

#topMenuBlock
{
	height: 77px;
	width: 1000px;
	background: url('images/logoBg.jpg') repeat-x;
}

.logo
{
	width: 173px;
	height: 52px;
	background: url('images/logo.png');
	text-decoration: none;
	display: block;
	position: relative;
	top: 15px;
	left: -13px;
	float: left;
}

#topMenu
{
	width: 747px;
	float: right;
	height: 56px;
	position: relative;
	top: 15px;
	right: 0;
}

#todayBlock
{
	width: 1000px;
	margin-top: 12px;
	height: 100px;
}

#watchInCinema
{
	height: 100px;
	width: 241px;
	background: url('images/watchInCinema_bg.jpg') repeat-x;
	float: left;
	margin-left: 10px;
}

#todayAtCinema a span
{
	font: bold 24px Arial;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	padding: 8px 12px;
	display: block;
	width: 215px;
	margin: 0 auto;
	line-height: 24px;
	margin: 32px 0 0 65px;
}

#premiers
{
	height: 100px;
	width: 357px !important;
}

#premiers span
{
	font: bold 24px Arial;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	padding: 8px 20px;
	display: block;
	width: 142px;
	margin: 32px 0 0 93px;
	line-height: 24px;
}

#whatTo
{
	font: bold 14px/14px Arial;
	text-transform: uppercase;
	color: white;
    text-shadow: 0 1px 0 #5F0707;
	display: block;
	padding-left: 16px;
	padding-top: 16px;
}

#seeInCinema
{
	font: bold 18px/26px Arial;
	text-transform: uppercase;
	color: white;
    text-shadow: 0 1px 0 #5F0707;
	display: block;
	padding-left: 16px;
}

#watchSelect
{
	height: 18px;
	font: normal 11px Arial;
	color: #000;
	width: 158px;
	margin-left: 16px;
	padding-left: 6px;
	margin-top: 10px;
	float: left;
}

.yesButton
{
	width: 50px;
	height: 22px;
	background: url('images/yes_button.png') no-repeat;
	border: 0;
	padding-bottom: 4px;
	margin-top: 9px;
	margin-left: 5px;
	cursor: pointer;
}


#announceBlock
{
	width: 1000px;
	margin-top: 12px;
	height: 350px;
}

#announce
{
	height: 350px;
	width: 664px;
	margin-left: 10px;
	float: left;
	background: #dbdbdb;
}

#banner
{
	height: 350px;
	width: 300px;
	margin-left: 16px;
	float: left;
}

#mainContent
{
	width: 1000px;
	margin-top: 11px;
	background: #fff;
}

#leftContent
{
	width: 664px;
	margin-left: 10px;
	float: left;
}

#rightContent
{
	width: 300px;
	float: left;
	margin-left: 16px;
}

.viewport {
	float: left;
	height: 100px;
	margin-left: 12px;
	overflow: hidden;
	position: relative;
	width: 358px;
}

.viewport a {
	display: block;
	position: relative;
	text-decoration: none;
	height: 100px;
}

.viewport a img {
	height: 110px;
	left: -15px;
	position: relative;
	top: -5px;
	width: 398px;
	border: 0;
}

.viewport a span {
	position: absolute;
	z-index: 100;
}

#liders, #news, #reviews
{
	width: 664px;
}


#blockHeader h3
{
	font: bold 18px Arial;
	color: #333333;
	line-height: 32px;
	text-transform: uppercase;
	float: left;
	padding-right: 23px;
}

#blockHeaderMenu
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#blockHeaderMenu li
{
	float: left;
	line-height: 30px;
	margin-top: 3px;
	margin-right: 8px;
}

#blockHeaderMenu li:hover,#blockHeaderMenu li.active
{
	background: url('images/linkBgHoverLeft.png') top left no-repeat;
}

#blockHeaderMenu li a
{
	text-decoration: none;
	font: bold 12px Arial;
	color: #2379b6;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 24px;
	height: 24px;
	display: block;
}

#blockHeaderMenu li a span
{
	background: url('images/link_bg.jpg') repeat-x;
	margin:0;
	padding: 0;
	height: 24px;
	display: block;
}

#blockHeaderMenu li:hover a span, #blockHeaderMenu li.active a span
{
	background: none;
}

#blockHeaderMenu li a:hover, #blockHeaderMenu li.active a
{
	background: url('images/linkBgHoverRight.jpg') top right no-repeat;
	margin-left: 0;
	padding-left: 12px;
	padding-right: 12px;
	color: #636363;
	text-shadow: 0 1px 0 #FFFFFF;
}

#lineHr
{
	height: 34px;
	display: block;
	clear: both;
	background: url('images/lineHr.jpg') repeat-x;
}

#lineBlank
{
	clear: both;
	height: 1px;
}


#blockHeaderHelpers
{
	float: right;
}

#RSS
{
	width: 37px;
	height: 20px;
	display: block;
	background: url('images/rssButton.png') no-repeat;
	text-decoration: none;
	font: bold 11px Arial;
	color: #fff;
 	line-height: 20px;
 	text-align: center;
 	margin-top: 6px;
 	margin-left: 12px;
 	float: right;
	text-shadow: 0 1px 0 #c8660f;
}

#allNews
{
	float: right;
	padding-left: 12px;
	background: url('images/allNewsBg.jpg') left 6px no-repeat;
	margin-top: 4px;
}

#allReviews
{
	float: right;
	padding-left: 12px;
	background: url('images/allReviewsBg.jpg') left 8px no-repeat;
	margin-top: 4px;
}

#allNews a, #allReviews a
{
	font: normal 12px Arial;
	line-height: 24px;
	color: #2379b6;
}

#allNews a:hover, #allReviews a:hover
{
	text-decoration: none;
}

.blockLidersPremiers
{
	width: 664px;
	display: block;
	overflow-x: hidden;
}

.blockLidersPremiers ul.lidersUl
{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 664px;
	display: block;
	overflow-x: hidden;
}

.blockLidersPremiers ul.lidersUl li
{
	float: left;
	margin-right: 13px;
	width: 122px;
}

.blockLidersPremiers ul.lidersUl li.no-margin
{
	margin-right: 0;
}

.blockLidersPremiers ul.lidersUl li a
{
	width: 102px;
	display: block;
}

.blockLidersPremiers ul.lidersUl li a img
{
	border: 0;
	width: 122px;
	height: 154px;
}

.liderName
{
	width: 122px;
	font: bold 12px Arial;
	color: #333333;
	line-height: 16px;
	margin-top: 4px;
}

ul.lidersUl li ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

ul.lidersUl li ul li
{
	padding-left: 20px;
	width: 102px !important;
	margin-right: 0 !important;
	height: 21px;
}

ul.lidersUl li ul li a
{
	font: normal 12px Arial;
	color: #2379b6;
	line-height: 17px;
}

ul.lidersUl li ul li a:hover
{
	text-decoration: none;
}

ul.lidersUl li ul li.trailerLi
{
	background: url('images/trailerLiBg.jpg') left top no-repeat ;
}

ul.lidersUl li ul li.watchLi
{
	background: url('images/watchLiBg.jpg') left top no-repeat ;
}

#mainNews
{
	width: 213px;
	margin-right: 14px;
	float: left;
}

#mainNews a.mainNewsPhoto img
{
	border: 0;
	width:213px;
	height:137px;
}

#mainNews a.mainNewsPhoto
{
	width: 213px;
	display: block;
}

#mainNews a.mainNewsLink
{
	width: 213px;
	font: normal 12px Arial;
	line-height: 17px;
	color: #2379b6;
	margin-top: 6px;
	display: block;
	margin-bottom: 6px;
}

#mainNews a.mainNewsLink:hover
{
	text-decoration: none;
}

.mainNewsText
{
	width: 213px;
	font: normal 11px Arial;
	color: #707070;
	line-height: 15px;
}

.mainNewsDate
{
	font: normal 10px Arial;
	font-style: italic;
	color: #898989;
	margin-top: 6px;
}

#secondNews
{
	width: 212px;
	margin-right: 13px;
	float: left;
}

.newsItem
{
	width: 212px;
	margin-bottom: 16px;
	height: 117px;
}

#secondNews a.newsItemPhoto img
{
	border: 0;
	width: 64px;
	height: 64px;

}

#secondNews a.newsItemPhoto
{
	width: 64px;
	display: block;
	float: left;
	margin-right: 13px;
}

#secondNews a.newsItemLink
{
	width: 135px;
	font: normal 12px Arial;
	line-height: 14px;
	color: #2379b6;
	display: block;
	float: left;
}

#secondNews a.newsItemLink:hover
{
	text-decoration: none;
}

.bottomNews
{
	margin-bottom: 0;
	height: 133px;
}

.newsItemText
{
	width: 212px;
	font: normal 11px Arial;
	color: #707070;
	line-height: 13px;
	margin-top: 4px;
}

.nomargin
{
	margin: 0 !important;
}

#bottomBanner
{
	width: 213px;
	margin-right: 14px;
	float: left;
}

#bottomBanner img
{
	height: 244px;
	width: 213px;
}

#articles
{
	width: 210px;
	margin-right: 13px;
	float: left;
	border: 1px solid #dbdbdb;
	height: 242px;
}

#articlesTitle
{
	height: 31px;
	width: 202px;
	line-height:31px;
	text-transform: uppercase;
	font: bold 12px Arial;
	color: #fff;
	background: url('images/articlesTitleBg.jpg') repeat-x;
	line-height: 31px;
	padding-left: 8px;
	margin-bottom: 3px;
}


#spletniTitle
{
	height: 31px;
	width: 202px;
	line-height:31px;
	text-transform: uppercase;
	font: bold 12px Arial;
	color: #333333;
	background: url('images/spletniTitleBg.jpg') repeat-x;
	line-height: 31px;
	padding-left: 8px;
	margin-bottom: 3px;
}

#articlesItem
{
	width: 193px;
	margin-left: 8px;
	margin-top: 8px;
}

#articlesItem a.newsItemPhoto img
{
	border: 0;
}

#articlesItem a.newsItemPhoto
{
	width: 50px;
	display: block;
	float: left;
	margin-right: 8px;
	height: 50px;
}

#articlesItem a.newsItemLink
{
	width: 135px;
	font: normal 12px Arial;
	line-height: 14px;
	color: #2379b6;
	display: block;
	float: left;
}

#articlesItem a.newsItemLink:hover
{
	text-decoration: none;
}

#allArticles
{
	float: right;
	padding-left: 9px;
	background: url('images/allArticlesBg.jpg') left 2px no-repeat;
	margin-right: 11px;
	margin-top: 8px;
}

#allArticles a
{
	font: normal 12px Arial;
	line-height: 12px;
	color: #2379b6;
}

#allArticles a:hover
{
	text-decoration: none;
}

#allSpletni
{
	float: right;
	padding-left: 10px;
	background: url('images/allSpletniBg.jpg') left 4px no-repeat;
	margin-right: 11px;
	margin-top: 8px;
}

#allSpletni a
{
	font: normal 12px Arial;
	line-height: 12px;
	color: #2379b6;
}

#allSpletni a:hover
{
	text-decoration: none;
}

#friendsActivity
{
	width: 298px;
	min-height: 287px;
	border: 1px solid #dedede;
	background: #d9d9d9 url('images/friendsActivityBg.jpg') left top no-repeat;
	margin-bottom: 12px;
}

#friendsActivityTitle, #chooseCinemaTitle, #interviewBlockTitle, #photoBlockTitle, #boxBlockTitle
{
	height: 29px;
	text-transform: uppercase;
	padding-left: 12px;
	font: bold 12px Arial;
	color: #333333;
	line-height: 37px;
}

#friendsActivityItem
{
 	margin-left: 12px;
 	margin-top: 10px;
 	padding-bottom: 12px;
 	width: 274px;
 	background: url('images/friendsActivityItemBg.jpg') left bottom repeat-x;
}

#friendsActivityItem a.newsItemPhoto
{
	width: 50px;
	display: block;
	float: left;
	margin-right: 9px;
	height: 50px;
}

#friendsActivityText
{
	padding-left: 20px;
	width: 195px;
	font: normal 14px Arial;
	color: #333333;
	line-height: 17px;
	float: left;
	background: url('images/like.png') left 4px no-repeat;
	position: relative;
	top: -4px;
}

#friendsActivityText a
{
	color: #2379b6;
	text-decoration: none;
}

#friendsActivityText a:hover
{
	text-decoration: underline;
}

#friendsActivityDate
{
	color: #898989;
	font: normal 12px Arial;
	float: right;
	width: 215px;
	height: 14px;
	line-height: 12px;
	margin-top: 4px;
}

#allActivities
{
	margin-left: 12px;
	font: normal 12px Arial;
	color: #2379b6;
	text-decoration: none;
	height: 16px;
	display: inline-block;
	padding-left: 13px;
	background: url("images/allActivitiesLinkBg.png") left 4px no-repeat;
	margin-top: 9px;
	margin-bottom: 13px;
}

#allActivities span
{
	background: url("images/activitiesLinkBg.png") left 15px repeat-x;
	height: 16px;
	display: inline-block;
}


#allActivities:hover span
{
	background: none;
}

#chooseCinema
{
	width: 298px;
	min-height: 232px;
	border: 1px solid #dedede;
	background: #d9d9d9 url('images/chooseCinemaBg.jpg') left top no-repeat;
	margin-bottom: 12px;
}

#chooseCinemaTitle
{
	height: 44px;
	line-height: 41px;
}

#chooseCinemaItem
{
 	margin-left: 12px;
 	margin-top: 11px;
 	padding-bottom: 10px;
 	width: 274px;
 	background: url('images/friendsActivityItemBg.jpg') left bottom repeat-x;
}

#chooseCinemaMore
{
	width: 274px;
	display: block;
	float: left;
	padding-left: 22px;
	height: 35px;
	text-decoration: none;
	background: url('images/chooseCinemaMore.png') left top no-repeat;
}

#chooseCinemaMore #chooseCinemaItemTitle
{
	font: bold 14px Arial;
	line-height: 14px;
	color: #333333;
}

#chooseCinemaMore #chooseCinemaItemText
{
	font: normal 12px Arial;
	line-height: 18px;
	color: #898989;
	text-shadow: 0 1px 0 #eeeeee;
}

#interviewBlock
{
	width: 298px;
	min-height: 322px;
	border: 1px solid #dedede;
	background: #d9d9d9 url('images/interviewBlockBg.jpg') left top no-repeat;
	margin-bottom: 12px;
}

#interviewBlock a.interviewMainPhoto
{
	width: 100px;
	display: block;
	float: left;
	margin-right: 7px;
	height: 113px;
}

#interviewBlock a.interviewMainPhoto img
{
	width: 100px;
	height: 113px;
}

#interviewMainText
{
	width: 167px;
	font: normal 14px Arial;
	color: #333333;
	float: left;
	position: relative;
}

#interviewMainText a
{
	font: normal 12px Arial;
	color: #2379b6;
	line-height: 15px !important;
	text-decoration: underline;
	display: inline-block;
}

#interviewMainText a:hover
{
	text-decoration: none;
}


#interviewMainText p
{
	font: normal 11px Arial;
	color: #333333;
	line-height: 13px;
	margin-top: 10px;
	width: 167px;
}

.interviewMainDate
{
	font: normal 10px Arial;
	font-style: italic;
	color: #898989;
	margin-top: 11px;
	display: inline-block;
}

#interviewBlockItem
{
 	margin-left: 12px;
 	margin-top: 10px;
 	width: 274px;
}

#interviewMainItem
{
 	margin-left: 12px;
 	margin-top: 10px;
 	padding-bottom: 12px;
 	width: 274px;
 	background: url('images/friendsActivityItemBg.jpg') left bottom repeat-x;
}

#interviewBlock a.interviewBlockPhoto
{
	width: 50px;
	display: block;
	float: left;
	margin-right: 6px;
	height: 50px;
}

#interviewBlock a.interviewBlockPhoto img
{
	width: 50px;
	height: 50px;
}

#interviewBlockText
{
	width: 218px;
	font: normal 12px Arial;
	color: #333333;
	float: left;
	position: relative;
}

#interviewBlockText a
{
	font: normal 12px Arial;
	color: #2379b6;
	line-height: 15px !important;
	text-decoration: underline;
	display: inline-block;
}

#interviewBlockText a:hover
{
	text-decoration: none;
}

#allInterview
{
	float: right;
	width: 89px;
	height: 24px;
	background: url('images/allInterviewLink.png') no-repeat;
	padding-left: 25px;
	text-decoration: none;
	font: normal 12px Arial;
	line-height: 22px;
	color: #d7d7d7;
    text-shadow: 0 1px 0 #727272;
    margin-right: 12px;
}

#allInterview:hover
{
	color: #fff;
}

#photoBlock
{
	width: 300px;
	min-height: 205px;
	background: #9b1d1e url('images/photoBlockBg.jpg') left top no-repeat;
	margin-bottom: 12px;
}

#photoBlockTitle
{
	color: #ffffff;
}

a.photoTitle
{
	color: #fff;
	margin-left: 12px;
	font: normal 12px Arial;
	line-height: 20px;
}

a.photoTitle:hover
{
	text-decoration: none;
}

#photoList
{
	list-style-type: none;
	width: 285px;
	height: 114px;
	margin-left: 5px;
	display: block;
}

#photoList li
{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 7px;
	margin-top: 3px;
	margin-bottom: 4px;
}

#photoList li a
{
	width: 50px;
	height: 50px;
	display: block;
}

#photoList li a img
{
	width: 50px;
	height: 50px;
	border: 0;
}

#allPhoto
{
	float: right;
	width: 96px;
	height: 24px;
	background: url('images/allPhotoLink.png') no-repeat;
	padding-left: 25px;
	text-decoration: none;
	font: normal 12px Arial;
	line-height: 23px;
	color: #333333;
    text-shadow: 0 1px 0 #ffffff;
    margin-right: 12px;
    margin-top: 8px;
}

#allPhoto:hover
{
	color: #6b6b6b;
}

#boxBlock
{
	width: 298px;
	min-height: 156px;
	border: 1px solid #dedede;
	background: #d9d9d9 url('images/interviewBlockBg.jpg') left top no-repeat;
	margin-bottom: 12px;
}

#footer
{
	border-top: 1px solid #c3c3c3;
	margin-top: 12px;
	background: #d9d9d9 url('images/footerBg.jpg') repeat-x;
}

#footerWrap
{
	width: 1000px;
	margin: 0 auto;
	padding-top:26px;
	position: relative;
}

#copyrights
{
	position: relative;
	background: url('images/copyrightsBg.png') left top no-repeat;
	height: 95px;
	padding-top: 31px;
}

#footerMenu
{
	height: 226px;
}

#logoFooter
{
	width: 106px;
	height: 30px;
	background: url('images/logoFooter.png') no-repeat;
	display: block;
	text-decoration: none;
	margin-left: 12px;
	float: left;
}

#footerCinemas a, #footerMedia a, #footerTexts a, #footerSocial a, #footerRatings a, #footerConcurs a
{
	color: #363636;
	text-decoration: none;
	line-height: 28px;
}

#footerCinemas a:hover, #footerMedia a:hover, #footerTexts a:hover, #footerSocial a:hover, #footerRatings a:hover, #footerConcurs a:hover
{
	text-decoration: underline;
}

#footerCinemas, #footerMedia, #footerTexts, #footerSocial, #footerRatings, #footerConcurs
{
	font: bold 12px Arial;
	float: left;
	list-style-type: none;
}

#footerCinemas li ul, #footerMedia li ul, #footerTexts li ul, #footerSocial li ul, #footerRatings li ul, #footerConcurs li ul
{
	list-style-type: none;
	margin-top: 9px;
}

#footerCinemas li ul li a, #footerMedia li ul li a, #footerTexts li ul li a, #footerSocial li ul li a, #footerRatings li ul li a, #footerConcurs li ul li a
{
	font: normal 11px Arial;
	line-height: 21px !important;
}


#footerCinemas
{
	margin-left: 110px;
	width: 130px;
}

#footerMedia
{
	width: 108px;
}


#footerTexts
{
	width: 135px;
}

#footerSocial
{
	width: 160px;
}

#footerRatings
{
	width: 165px;
}

#footerConcurs
{
	width: 70px;
}

#copyright
{
	font: bold 12px Arial;
	line-height: 27px;
	color: #898989;
    text-shadow: 0 1px 0 #fff;
    float: left;
}

#advertising
{
	width: 290px;
	margin-left: 35px;
	font: normal 12px Arial;
	line-height: 18px;
	color: #898989;
    text-shadow: 0 1px 0 #fff;
    float: left;
    margin-top: 4px;
}

#advertising a
{
	color: #2379b6;
}

#advertising a:hover
{
	text-decoration: none;
}

#socials
{
	margin-left: 28px;
	list-style-type: none;
	width: 150px;
	float: left;
	margin-top: 4px;
}

#socials li
{
 	float: left;
 	width: 16px;
 	margin-right: 14px;
}

#socials li a img
{
	border: 0;
}

#iphone
{
	width: 66px;
 	display: inline-block;
 	color: #434648;
 	text-decoration: none;
 	font: normal 11px Arial;
 	line-height: 12px;
 	padding-left: 20px;
 	background: url('images/iphoneBg.png') left top no-repeat;
    text-shadow: 0 1px 0 #fff;
    margin-left: 30px;
    float: left;
}

#designedBy
{
	margin-left: 53px;
	float: left;
	font: italic 10px Arial;
	color: #898989;
    text-shadow: 0 1px 0 #fff;
    line-height: 24px;
}

#shvedun
{
	width: 84px;
	height: 17px;
	display: block;
	float: left;
	text-decoration: none;
	background: url('images/shvedun.png') no-repeat;
	margin-top: 2px;
	margin-left: 2px;
}

#headerWrap
{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#yourCity
{
	font: bold 12px Arial;
	line-height: 39px;
	color: #333333;
    text-shadow: 0 1px 0 #fff;
    width: 138px;
    float: left;
}

#yourCity a
{
	color: #2379b6;
	padding-right: 12px;
	background: url('images/arrDown.png') right 7px no-repeat;
}

#yourCity a:hover
{
 	text-decoration: none;
}

#language
{
	list-style-type: none;
	margin-top: 8px;
	float: left;
}

#language li
{
	float: left;
}

#language li:hover, #language li.active
{
	background: url('images/languageLeftActive.jpg') top left no-repeat;
}

#language li a
{
	text-decoration: none;
	font: bold 12px Arial;
	color: #333333;
    text-shadow: 0 1px 0 #fff;
	padding-left: 11px;
	padding-right: 11px;
	line-height: 20px;
	height: 22px;
	display: block;
}

#language li a span
{
	margin:0;
	padding: 0;
	height: 22px;
	display: block;
}

#language li:hover a span, #language li.active a span
{
	background: none;
}

#language li a:hover, #language li.active a
{
	background: url('images/languageRightActive.jpg') top right no-repeat;
	font: normal 12px Arial;
	line-height: 20px;
	padding-left: 11px;
	padding-right: 11px;
	color: #fff;
	text-shadow: none;
}


#kinoTeatr
{
	list-style-type: none;
	float: left;
	height: 40px;
	margin-left: 6px;
	border-right: 1px solid #bab9b9;
}

#kinoTeatr li
{
	float: left;
	background: url('images/ktLeftInactive.jpg') top left no-repeat;
	border-left: 1px solid #bab9b9;
}

#kinoTeatr li:hover, #kinoTeatr li.active
{
	background: url('images/ktLeftActive.jpg') top left no-repeat;
}

#kinoTeatr li a
{
	background: url('images/ktRightInactive.jpg') top right no-repeat;
	text-decoration: none;
	font: bold 12px Arial;
	color: #333333;
    text-shadow: 0 1px 0 #fff;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 40px;
	height: 40px;
	display: block;
}

#kinoTeatr li a span
{
	margin:0;
	padding: 0;
	height: 40px;
	display: block;
}

#kinoTeatr li a:hover, #kinoTeatr li.active a
{
	background: url('images/ktRightActive.jpg') top right no-repeat;
	font: bold 12px Arial;
	line-height: 40px;
	color: #ac2d2e;
}

#openApi
{
	width: 157px;
	margin-left: 28px;
	float: left;
	margin-top: 9px;
}

#openApi span
{
	font: normal 12px Arial;
	color: #333333;
	line-height: 22px;
    text-shadow: 0 1px 0 #fff;
    width: 75px;
    display: inline-block;
    float: left;
}

#openApi a img
{
	border: 0;
	width: 22px;
	height: 22px;
}

#openApi a:hover img
{
	opacity: 0.8;
}

#openApi a
{
	text-decoration: none;
	width: 22px;
	height: 22px;
	display: block;
	float: left;
	margin-left: 5px;
}

#register
{
	float: left;
	margin-left: 19px;
	font: normal 12px Arial;
    text-shadow: 0 1px 0 #fff;
    color: #2379b6;
	margin-top: 12px;
	width: 81px;
	display: inline-block;
}

#register:hover
{
	text-decoration: none;
}

#enter
{
	list-style-type: none;
	float: left;
	height: 24px;
	margin-top: 8px;
}

#enter li
{
	float: left;
	background: url('images/enterLeft.png') top left no-repeat;
}

#enter li a
{
	background: url('images/enterRight.png') top right no-repeat;
	text-decoration: none;
	font: normal 12px Arial;
	color: #333333;
    text-shadow: 0 1px 0 #fff;
	padding-left: 14px;
	padding-right: 23px;
	line-height: 22px;
	height: 24px;
	display: block;
}

#enter li a span
{
	margin:0;
	padding: 0;
	height: 24px;
	display: block;
}

#searchField
{
	width: 240px;
	height: 25px;
	background: url('images/searchFieldBg.png') top left no-repeat;
	border: 0;
	margin-left: 16px;
	float: right;
	margin-top: 7px;
	font: normal 12px Arial;
	color: #898989;
	line-height: 24px;
	padding-left: 15px;
	position: absolute;
	right: 27px;
}

#searchButton
{
	float: right;
	width: 27px;
	height: 25px;
	margin-top: 7px;
}

.announce_img
{
	width: 664px;
	height: 350px;
	position: absolute;
	z-index: 3000;
}

.announce_txt
{
	position: relative;
	width: 277px;
	height: 195px;
	z-index: 4000;
	top: 13px;
	left: 375px;
	background:url('images/announceTxtBg.png');
}

.announce_txt h1
{
	font: bold 30px/60px 'Arial';
	color: #fff;
	margin-left: 20px;
	width: 237px;
	text-transform: uppercase;
}

.announce_txt p
{
	font: 12px/16px 'Arial';
	color: #fff;
	margin-left: 20px;
	width: 237px;
}

.announce_txt ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-left: 20px;
}

.announce_txt ul li
{
	padding-left: 20px;
	width: 106px !important;
	margin-right: 0 !important;
	height: 21px;
}

.announce_txt ul li a
{
	font: normal 12px Arial;
	color: #fff;
	line-height: 17px;
}

.announce_txt ul li a:hover
{
	text-decoration: none;
}

.announce_txt ul li.trailerLi
{
	background: url('images/announceTrailerLiBg.png') left top no-repeat ;
}

.announce_txt ul li.watchLi
{
	background: url('images/announceWatchLiBg.png') left top no-repeat ;
}

.playLink
{
	width: 375px;
	height: 257px;
	display: inline-block;
	position: absolute;
	text-decoration: none;
	z-index: 4000;
 	background: url('images/playLink.png') no-repeat center center;
}

a.playLink:hover
{
 	background: url('images/playLinkActive.png') no-repeat center center;
}